#container {
    /* background-color: #3900e3; */
    max-width: 1024px;
    margin: auto;
  }
  
.header {
  background-color: rgb(1, 252, 118);
  background-image: url("../images/background.jpg");
  background-position: top left;
  text-align: center;
  padding: 20px;
}

.topnav {
  display:flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding: 14px 16px;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  /* width: 200px; */
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
}

/* Row */
.row {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* Column */
.column {
  background-color: rgb(133, 174, 240);
  border: #6f71e7 solid 2px;
  width: 25%;
}

#column1 {
  width: 40%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #333;
}

.footer a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  width: 22%;
  border: #f2f2f2 solid 1px;
  text-decoration: none;
}

/* Links - change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
/* @media screen and (max-width: 600px) {

  .row {
    flex-direction: column;
  }
  
  .column {
	width: 100%;
  }

  #column1 {
    width: 100%;
  }
} */

@media screen and (max-width: 800px) {
  .row {
	flex-wrap: wrap;
  justify-content: center;
  }
  .column {
	width: 49%;
  }

  #column1 {
    width: 100%;
    order: 3;
  }

  .footer a{
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .column {
	width: 100%;
  }

  #column1 {
    width: 100%; 
  }

  .footer a{
    width: 100%;
  }
}
