/* Pre-set */
:root {
    --text-light: #FFFFFF;
    --text-dark: #3F3351;
    --text_Dark_Accent: #8C347A;
    --text_Dark_Gray: rgba(57, 20, 0, 0.64);
    --text_Light: #FFFFFF;
    --text_Light_Accent: #EF6D58;
    --text_Light_Gray: rgba(255, 255, 255, 0.64);
}

.flex {
    display: flex;
}

.f-r {
    flex-direction: row;
}

.f-c {
    flex-direction: column;
}

.t-c {
    text-align: center;
}

.a-c {
    align-items: center;
}

.c-c {
    align-content: center;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}

.j-e {
    justify-content: space-evenly;
}

.t-d-n {
    text-decoration: none;
}

/* text */
* {
    font-family: 'Epilogue', 'Times New Roman';
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    text-transform: uppercase;
}

.text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--text-dark);
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--text_Dark_Gray);
}

.text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Box */
.box {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
    padding: 30px 0px;
    border: 1px solid #864879;
    box-shadow: 10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}

.box p {
    width: 43%;
    text-align: justify;
}

.box img {
   width: 43%;
   border-radius: 50%;
   filter: contrast(1.15);
}

/* Main */
body {
    margin: 0px;
}

#container {
    max-width: 1920px;
    overflow-x: hidden;
    margin: auto;
    background-color: #080302;
}

#banner {
    position: relative;
    height: 50vh;
    background: #1F1D36;
}

#back-top {
    display: none;
    position: fixed;
    padding: 10px 12px;
    background-color: #ef6c58aa;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#back-top:hover {
    display: none;
    position: fixed;
    padding: 12px 14px;
    background-color: #ef6c58;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    animation: backtop-rotate 1.5s;
    z-index: 1000;
}

#back-top.sticky {
    display: block;
}

@keyframes backtop-rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(390deg) translate3d(0, 0, 0);
    }

    70% {
        transform: rotate(330deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }
}

.line {
    height: 1px;
    margin: auto;
    background-color: #3F3351;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    z-index: 1;
}

/* Navbar */

/* Navbar */

#menu {
    position: fixed;
    max-width: 1920px;
    top: 0;
}

#menu,
#menu a {
    color: var(--text_Light);
    transition: 1s;
}

#menu a {
    text-decoration: none;
}

#menu-logo img {
    margin-right: 11px;
}

#menu-main ul {
    padding: 0;
    list-style: none;
}

#menu-main li {
    padding: 5px 2.5vw;
}

/* #menu-main a:first-child {
    display: none;
} */

#menu-home {
    width: 138px;
    height: 48px;
    font-weight: 900;
    box-shadow: -2px 4px 5px 0px rgba(22, 5, 207, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    text-transform: uppercase;
}

#menu-home a:not(:first-child) {
    display: none;
}

/* Hover */

#menu a:hover,
#menu h4:hover {
    color: #f65ed3;
    transition: 0.3s;
    cursor: pointer;
}


/* ------------- Menu animation when scroll down -------------  */

#menu.sticky {
    background-color: #FFFFFF;
    height: 65px;
    /* padding: 5px 0px; */
}

#menu.sticky h4 {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li {
    color: #3F3351;
    transition: color 0.5s;
}

.sticky #menu-home {
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(22, 5, 207, 0.364);
}

.sticky #menu-home a {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li:hover,
#menu.sticky h4:hover,
#menu.sticky a:hover {
    color: #0feed8;
}

/* ----------------------------------------------------------- */

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {

    #menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu h4 {
        margin: 0;
    }

    #menu-logo {
        position: relative;
        left: 10px;
    }

    #menu-main {
        width: 100%;
        height: 0;
        order: 3;
        display: none;
    }

    #menu-main ul {
        flex-direction: column;
        margin-top: 0px;
    }

    #menu-home {
        width: auto;
        padding: 0px 20px;
        position: relative;
        right: 10px;
    }

    #menu-home a:last-child {
        display: block;
    }

    #menu-home a:not(:last-child) {
        display: none;
    }

    .responsive#menu-main {
        display: block;
    }

    /* .responsive#menu-main a:first-child {
        display: block;
    } */

    .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
        padding: 14px 16px;
        animation: slide-down 1s ease-out;
    }

    .sticky .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
    }

    .sticky .responsive#menu-main li:hover {
        background-color: whitesmoke;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-main li:hover {
        background-color: whitesmoke;
        transition: 0.3s;
        color: #0feed8;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-home,
    .responsive#menu-logo {
        margin-top: 7px;
    }

    .responsive#menu-home#menu-home #icon {
        --fa-animation-duration: 2s;
    }
}

/* .................... Nav End .............................. .*/

header {
    position: relative;
    background-color: #1F1D36;
    width: 100%;
    height: 70px;
    z-index: 1;
}

#content {
    height: 1000vh;
    background-color: #E9A6A6;
    padding-top: 100px;
}

#content .line {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


#back-home {
    position: relative;
    color: var(--text-dark);
}

#back-home:hover {
    animation: moveLeft 1.2s;
}

#back-home div {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

#back-home div p {
    margin-left: 20px;
}

#details {
    width: 70%;
    margin: auto;
    color: var(--text_Dark);
}

#emission {
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}

#emission img {
    position: absolute;
}

#img1 {
    top: 0%;
    right: 3%;
}

#img2 {
    top: 15%;
    right: 14%;
}

#img3 {
    top: 37%;
    right: 3%;
}

#img4 {
    top: 52%;
    right: 14%;
}

#emission1 {
    width: 40%;
    margin-left: 7%;
    margin-right: 150px;
}

#emission2 ul {
    padding-left: 0;
}

#emission2 h5 {
    color: var(--text_Dark_Accent);
}

#emission2 ul a li {
    list-style: none;
    margin-bottom: 50px;
    color: var(--text-dark);
}

#emission3 {
    width: 30%;
}

#emission-img1 {
    display: none;
    width: 70%;
    height: 40vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    filter: contrast(1.15);
    background-image: url(../images/content/Rosetta_NGC_2237_Ferretti-Bruzzone_Nit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#emission-img2 {
    width: 70%;
    height: 40vw;
    margin: auto;
    border-radius: 25px;
    filter: contrast(1.15);
    background-image: url(../images/content/Rosetta_NGC_2237_Ferretti-Bruzzone_Nit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#reflections-text {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

#reflections-img {
    position: relative;
    width: 74%;
    height: 29vw;
    margin: auto;
}

#reflections-img div {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    filter: contrast(1.15);
}

#reflections-img1 {
    position: absolute;
    width: 40%;
    height: 29vw;
    background-image: url(../images/content/Messier_78.jpg);
    background-color: #8C347A;
}

#reflections-img2 {
    position: absolute;
    width: 23%;
    height: 13vw;
    top: 0%;
    left: 47%;
    background-image: url(../images/content/trifid\ nebula.jpg);
    background-color: #8C347A;
}

#reflections-img3 {
    position: absolute;
    width: 23%;
    height: 13vw;
    bottom: 0%;
    left: 47%;
    background-image: url(../images/content/cave\ nebula.jpg);
    background-color: #8C347A;
}

#reflections-img4 {
    position: absolute;
    width: 23%;
    height: 13vw;
    top: 0%;
    right: 0%;
    background-image: url(../images/content/iris\ nebula.jpg);
    background-color: #8C347A;
}

#reflections-img5 {
    position: absolute;
    width: 23%;
    height: 13vw;
    bottom: 0%;
    right: 0%;
    background-image: url(../images/content/Orion_Nebula.jpg);
    background-color: #8C347A;
}

#type h3 {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    color: var(--text-dark);
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#icon-menu {
    padding-top: 60px;
}

#footer-icon {
    width: 10%;
    flex-direction: column;
}

#footer-menu {
    width: 10%;
}

#footer-icon a img {
    margin: 14px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#footer-icon a img:hover {
    width: 60px;
    height: 60px;
}

footer div.l-line {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 49px;
    width: 84%;
    height: 1px;
    background-color: #3F3351;
}

#footer-menu h5 {
    color: var(--text_Dark_Accent);
}

#footer-menu ul {
    padding: 0;
    list-style: none;
}

#footer-menu ul a{
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text_Dark_Gray);
}

#footer-menu ul a:hover{
    transition: 0.5s;
    color: #f65ed3;
}

#copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: var(--text_Light_Gray);
}

#copyright p {
    margin: 5px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

@media (max-width: 1150px) {
    #img1 {
        top: -5%;
        right: 3%;
    }

    #img2 {
        top: 22%;
        right: 3%;
    }

    #img3 {
        top: 49%;
        right: 3%;
    }

    #img4 {
        top: 76%;
        right: 3%;
    }
}

@media (max-width: 992px) {
    #emission img {
        display: none;
    }
}

@media (max-width: 800px) {
    #details {
        text-align: center;
    }

    #emission {
        flex-direction: column;
        margin-top: 50px;
    }

    #emission1,
    #emission2 {
        width: 80%;
        margin: auto;
    }

    #emission1 {
        text-align: center;
    }

    #emission-img1 {
        display: block;
    }

    #emission2 {
        border: 1px solid #864879;
        box-shadow: 0px 10px 20px 5px rgba(134, 72, 102, 0.25);
        padding-bottom: 80px;
    }

    #emission2 h5 {
        margin-top: 80px;
        text-align: center;
    }

    #emission2 ul {
        text-align: center;
    }

    #emission2 ul a li {
        margin-bottom: 10px;
    }

    #emission-img2 {
        display: none;
    }

    #reflections-text {
        width: 80%;
        text-align: justify;
        margin: auto;
        margin-bottom: 70px;
    }

    #content .line {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #reflections-img {
        width: 90%;
        height: 165vw;
        margin: auto;
    }

    #reflections-img1 {
        position: absolute;
        width: 100%;
        height: 70vw;
        background-image: url(../images/content/Messier_78.jpg);
        background-color: #8C347A;
    }

    #reflections-img2 {
        position: absolute;
        width: 45%;
        height: 40vw;
        top: 47%;
        left: 0%;
        background-image: url(../images/content/trifid\ nebula.jpg);
        background-color: #8C347A;
    }

    #reflections-img3 {
        position: absolute;
        width: 45%;
        height: 40vw;
        bottom: 0%;
        left: 0%;
        background-image: url(../images/content/cave\ nebula.jpg);
        background-color: #8C347A;
    }

    #reflections-img4 {
        position: absolute;
        width: 45%;
        height: 40vw;
        top: 47%;
        right: 0%;
        background-image: url(../images/content/iris\ nebula.jpg);
        background-color: #8C347A;
    }

    #reflections-img5 {
        position: absolute;
        width: 45%;
        height: 40vw;
        bottom: 0%;
        right: 0%;
        background-image: url(../images/content/Orion_Nebula.jpg);
        background-color: #8C347A;
    } 

    #type h3 {
        width: 80%;
    }

    .box {
        padding: 30px 8px;
        border: none;
        box-shadow: 10px 10px 20px 5px rgba(134, 72, 102, 0.25);
    }

    #type div.box {
        flex-direction: column;
        width: 85%;
    }

    #type div.box p{
        width: 90%;
        order: 2;
    }

    #type div.box img{
        width: 90%;
        margin-bottom: 40px;
    }

    #icon-menu {
        flex-direction: column;
    }

    #footer-icon {
        width: 100%;
        flex-direction: row;
    }

    #footer-menu {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    #footer-menu h5 {
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    #copyright p {
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 32px;
    }
}

@media (max-width: 600px) {}

@keyframes moveLeft {
    0% {
        left: 0px;
        ;
    }

    25% {
        left: -30px;
    }

    50% {
        left: 10px;
    }

    100% {
        left: 0px;
    }
}