/* Pre-set */
:root {
    --text-light: #FFFFFF;
    --text-dark: #3F3351;
    --text_Dark_Accent: #8C347A;
    --text_Dark_Gray: rgba(57, 20, 0, 0.64);
    --text_Light: #FFFFFF;
    --text_Light_Accent: #EF6D58;
    --text_Light_Gray: rgba(255, 255, 255, 0.64);
}

.flex {
    display: flex;
}

.f-r {
    flex-direction: row;
}

.f-c {
    flex-direction: column;
}

.t-c {
    text-align: center;
}

.t-j {
    text-align: justify;
}

.a-c {
    align-items: center;
}

.c-c {
    align-content: center;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}

.j-e {
    justify-content: space-evenly;
}

.t-d-n {
    text-decoration: none;
}

/* text */
* {
    font-family: 'Epilogue', 'Times New Roman';
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Box */
.box {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
    padding: 50px 6vw;
    border: 1px solid #864879;
}

.line {
    display: none;
    height: 1px;
    margin: auto;
    background-color: #3F3351;
}

.l-line {
    width: 85%;
    height: 1px;
    margin: auto;
    background-color: #3F3351;
}



/* Main */
body {
    margin: 0px;
}

#container {
    max-width: 1920px;
    overflow-x: hidden;
    margin: auto;
    background-color: #080302;
}

#banner {
    position: relative;
    height: 50vh;
    background: #1F1D36;
}

#back-top {
    display: none;
    position: fixed;
    padding: 10px 12px;
    background-color: #ef6c58aa;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#back-top:hover {
    display: none;
    position: fixed;
    padding: 12px 14px;
    background-color: #ef6c58;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    animation: backtop-rotate 1.5s;
    z-index: 1000;
}

#back-top.sticky {
    display: block;
}

@keyframes backtop-rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(390deg) translate3d(0, 0, 0);
    }

    70% {
        transform: rotate(330deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }

}

header {
    position: relative;
    width: 100%;
    height: 70px;
    z-index: 1;
}

/* Navbar */

#menu {
    position: fixed;
    max-width: 1920px;
    top: 0;
}

#menu,
#menu a {
    color: var(--text_Light);
    transition: 1s;
}

#menu a {
    text-decoration: none;
}

#menu-logo img {
    margin-right: 11px;
}

#menu-main ul {
    padding: 0;
    list-style: none;
}

#menu-main li {
    padding: 5px 2.5vw;
}

/* #menu-main a:first-child {
    display: none;
} */

#menu-home {
    width: 138px;
    height: 48px;
    font-weight: 900;
    box-shadow: -2px 4px 5px 0px rgba(22, 5, 207, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    text-transform: uppercase;
}

#menu-home a:not(:first-child) {
    display: none;
}

/* Hover */

#menu a:hover,
#menu h4:hover {
    color: #f65ed3;
    transition: 0.3s;
    cursor: pointer;
}


/* ------------- Menu animation when scroll down -------------  */

#menu.sticky {
    background-color: #FFFFFF;
    height: 65px;
    /* padding: 5px 0px; */
}

#menu.sticky h4 {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li {
    color: #3F3351;
    transition: color 0.5s;
}

.sticky #menu-home {
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(22, 5, 207, 0.364);
}

.sticky #menu-home a {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li:hover,
#menu.sticky h4:hover,
#menu.sticky a:hover {
    color: #0feed8;
}

/* ----------------------------------------------------------- */

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {

    #menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu h4 {
        margin: 0;
    }

    #menu-logo {
        position: relative;
        left: 10px;
    }

    #menu-main {
        width: 100%;
        height: 0;
        order: 3;
        display: none;
    }

    #menu-main ul {
        flex-direction: column;
        margin-top: 0px;
    }

    #menu-home {
        width: auto;
        padding: 0px 20px;
        position: relative;
        right: 10px;
    }

    #menu-home a:last-child {
        display: block;
    }

    #menu-home a:not(:last-child) {
        display: none;
    }

    .responsive#menu-main {
        display: block;
    }

    /* .responsive#menu-main a:first-child {
        display: block;
    } */

    .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
        padding: 14px 16px;
        animation: slide-down 1s ease-out;
    }

    .sticky .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
    }

    .sticky .responsive#menu-main li:hover {
        background-color: whitesmoke;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-main li:hover {
        background-color: whitesmoke;
        transition: 0.3s;
        color: #0feed8;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-home,
    .responsive#menu-logo {
        margin-top: 7px;
    }

    .responsive#menu-home#menu-home #icon {
        --fa-animation-duration: 2s;
    }
}

/* .................... Nav End .............................. .*/

#banner h1 {
    position: absolute;
    width: 100%;
    top: 25%;
    color: var(--text-light);
}

#banner p {
    position: absolute;
    width: 100%;
    top: 65%;
    color: var(--text_Light_Gray);
}

#content {
    background-color: #E9A6A6;
}

#end-of-nebula {
    padding-top: 150px;
}

#end-of-nebula h5,
#end-of-nebula h2 {
    width: 85%;
    margin: auto;
}

#end-of-nebula h5 {
    color: var(--text_Dark_Accent);
}

#end-of-nebula h2 {
    margin: 25px auto;
    color: var(--text-dark);
}

#end-box {
    box-shadow: 10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}

#end-box-img {
    width: 35vw;
    height: 35vw;
    background-image: url(../images/content/main-qimg-b3c5738dd0ff434bcb005602ded47f42-c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#end-p1 {
    width: 50%;
    color: var(--text_Dark_Gray);
}

#right {
    width: 90%;
    margin: auto;
}

#born-of-stars {
    margin-top: 150px;
}

#born-of-stars h5,
#born-of-stars h2 {
    display: flex;
    justify-content: right;
    width: 100%;
}

#born-of-stars h5 {
    color: var(--text_Dark_Accent);
}

#born-of-stars h2 {
    margin: 25px auto;
    color: var(--text-dark);
}

#born-box {
    box-shadow: -10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}

#born-box-img {
    width: 50%;
    height: 20vw;
    background-image: url(../images/content/stsci-h-p2055a-f-1800x900.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

#born-p1 p {
    width: 45%;
    color: var(--text_Dark_Gray);
}

#born-of-stars div.box {
    padding: 100px 6vw;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#icon-menu {
    padding-top: 60px;
}

#footer-icon {
    width: 10%;
    flex-direction: column;
}

#footer-menu {
    width: 10%;
}

#footer-icon a img {
    margin: 14px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#footer-icon a img:hover {
    width: 60px;
    height: 60px;
}

footer div.l-line {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 49px;
    width: 84%;
    height: 1px;
    background-color: #3F3351;
}

#footer-menu h5 {
    color: var(--text_Dark_Accent);
}

#footer-menu ul {
    padding: 0;
    list-style: none;
}

#footer-menu ul a{
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text_Dark_Gray);
}

#footer-menu ul a:hover{
    transition: 0.5s;
    color: #f65ed3;
}

#copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: var(--text_Light_Gray);
}

#copyright p {
    margin: 5px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

@media (max-width: 992px) {
    .text-big {
        font-size: 18px;
    }
}


@media (max-width: 800px) {
    #banner {
        height: 65vh;
    }

    .line {
        display: block;
        width: 85%;
    }

    .box {
        border: none;
        box-shadow: none;
    }

    #end-box {
        flex-direction: column;
    }

    #end-box, #born-box {
        box-shadow: 0px 10px 20px 5px rgba(134, 72, 102, 0.25);
    }

    #end-box-img {
        width: 50vw;
        height: 50vw;
        order: 0;
        margin-bottom: 75px;
        box-shadow: 0px 4px 100px 10px rgba(2, 58, 142, 0.58);
    }

    #end-p1 {
        width: 100%;
        order: 1;
    }

    #born-of-stars {
        margin-top: 100px;
    }

    #born-p1 {
        flex-direction: column;
    }

    #born-p1 p {
        width: 100%;
    }

    #born-box-img {
        width: 80%;
        height: 30vw;
        margin-bottom: 75px;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.58);
        border-radius: 16px;
    }

    #born-of-stars h5,
    #born-of-stars h2 {
        display: flex;
        justify-content: left;
        width: 100%;
    }

    #icon-menu {
        flex-direction: column;
    }

    #footer-icon {
        width: 100%;
        flex-direction: row;
    }

    #footer-menu {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    #footer-menu h5 {
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    #copyright p {
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 32px;
    }

}

@media (max-width: 600px) {
    #banner {
        height: 65vh;
    }

    #banner p {
        top: 70%;

    }
}