/* Pre-set */
:root {
    --text-light: #FFFFFF;
    --text-dark: #3F3351;
    --text_Dark_Accent: #8C347A;
    --text_Dark_Gray: rgba(57, 20, 0, 0.64);
    --text_Light: #FFFFFF;
    --text_Light_Accent: #EF6D58;
    --text_Light_Gray: rgba(255, 255, 255, 0.64);
}

.flex {
    display: flex;
}

.f-r {
    flex-direction: row;
}

.f-c {
    flex-direction: column;
}

.t-c {
    text-align: center;
}

.m-60 {
    margin: 15px;
}

.t-j {
    text-align: justify;
}

.a-c {
    align-items: center;
}

.c-c {
    align-content: center;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}

.j-e {
    justify-content: space-evenly;
}

.t-d-n {
    text-decoration: none;
}

/* text */
* {
    font-family: 'Epilogue', 'Times New Roman';
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Button */
.btn {
    background: linear-gradient(90deg, #458FFE 0%, rgba(0, 102, 255, 0.35) 97.06%);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border: 0px;
    border-radius: 6px;
    width: 138px;
    height: 48px;
}

.l-btn {
    background: linear-gradient(90deg, #458FFE 0%, rgba(0, 102, 255, 0.35) 97.06%);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border: 0px;
    border-radius: 6px;
    width: 227px;
    height: 48px;
}

.btn .btnspan,
.l-btn .btnspan {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFEF5A;
}

.btn:hover,
.l-btn:hover {
    cursor: pointer;
    animation: btnrotate 0.7s ease-in-out both;
}

.btn:hover .btnspan,
.l-btn:hover .btnspan {
    animation: btnstorm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}



@keyframes btnrotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes btnstorm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.line {
    height: 1px;
    margin: auto;
}

/* Box */
.box {
    width: 75%;
    height: auto;
    margin: auto;
    padding: 30px 40px;
    border: 1px solid #864879;
    box-shadow: 10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}

.s-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: auto;
    margin-top:  80px;
    padding: 14px 50px;
    border: 1px solid #864879;
    box-shadow: 0px 10px 20px 5px rgba(134, 72, 102, 0.25);
    border-radius: 33px;
}

.s-box h4, .s-box p.text-big {
    color: var(--text-dark);
}

.s-box p.text {
    color: var(--text_Dark_Gray);
}


.s-box h4 {
    margin: 30px 0px;
}

.s-box p.text-big {
    margin: 30px 0px;
}

.s-box p.text {
    margin-top: 0px;
}

.s-box img {
    border-radius: 28px;
    filter: contrast(1.15);
}



/* Main */
body {
    margin: 0px;
}

#container {
    max-width: 1920px;
    overflow-x: hidden;
    margin: auto;
    background-color: #080302;
}

#banner {
    position: relative;
    height: 50vh;
    background: #1F1D36;
}

#back-top {
    display: none;
    position: fixed;
    padding: 10px 12px;
    background-color: #ef6c58aa;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#back-top:hover {
    display: none;
    position: fixed;
    padding: 12px 14px;
    background-color: #ef6c58;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    animation: backtop-rotate 1.5s;
    z-index: 1000;
}

#back-top.sticky {
    display: block;
}

@keyframes backtop-rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(390deg) translate3d(0, 0, 0);
    }

    70% {
        transform: rotate(330deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }

}

header {
    position: relative;
    width: 100%;
    height: 70px;
    z-index: 1;
}

/* Navbar */

#menu {
    position: fixed;
    max-width: 1920px;
    top: 0;
}

#menu,
#menu a {
    color: var(--text_Light);
    transition: 1s;
}

#menu a {
    text-decoration: none;
}

#menu-logo img {
    margin-right: 11px;
}

#menu-main ul {
    padding: 0;
    list-style: none;
}

#menu-main li {
    padding: 5px 2.5vw;
}

/* #menu-main a:first-child {
    display: none;
} */

#menu-home {
    width: 138px;
    height: 48px;
    font-weight: 900;
    box-shadow: -2px 4px 5px 0px rgba(22, 5, 207, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    text-transform: uppercase;
}

#menu-home a:not(:first-child) {
    display: none;
}

/* Hover */

#menu a:hover,
#menu h4:hover {
    color: #f65ed3;
    transition: 0.3s;
    cursor: pointer;
}


/* ------------- Menu animation when scroll down -------------  */

#menu.sticky {
    background-color: #FFFFFF;
    height: 65px;
    /* padding: 5px 0px; */
}

#menu.sticky h4 {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li {
    color: #3F3351;
    transition: color 0.5s;
}

.sticky #menu-home {
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(22, 5, 207, 0.364);
}

.sticky #menu-home a {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li:hover,
#menu.sticky h4:hover,
#menu.sticky a:hover {
    color: #0feed8;
}

/* ----------------------------------------------------------- */

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {

    #menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu h4 {
        margin: 0;
    }

    #menu-logo {
        position: relative;
        left: 10px;
    }

    #menu-main {
        width: 100%;
        height: 0;
        order: 3;
        display: none;
    }

    #menu-main ul {
        flex-direction: column;
        margin-top: 0px;
    }

    #menu-home {
        width: auto;
        padding: 0px 20px;
        position: relative;
        right: 10px;
    }

    #menu-home a:last-child {
        display: block;
    }

    #menu-home a:not(:last-child) {
        display: none;
    }

    .responsive#menu-main {
        display: block;
    }

    /* .responsive#menu-main a:first-child {
        display: block;
    } */

    .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
        padding: 14px 16px;
        animation: slide-down 1s ease-out;
    }

    .sticky .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
    }

    .sticky .responsive#menu-main li:hover {
        background-color: whitesmoke;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-main li:hover {
        background-color: whitesmoke;
        transition: 0.3s;
        color: #0feed8;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-home,
    .responsive#menu-logo {
        margin-top: 7px;
    }

    .responsive#menu-home#menu-home #icon {
        --fa-animation-duration: 2s;
    }
}

/* .................... Nav End .............................. .*/

#banner h1 {
    position: absolute;
    width: 100%;
    top: 25%;
    color: var(--text-light);
}

#banner p {
    position: absolute;
    width: 100%;
    top: 65%;
    color: var(--text_Light_Gray);
}

#content {
    background-color: #E9A6A6;
}

#content .line {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: #F3D1BF;
}

#famous-nebula {
    padding: 150px 0px 40px 0px;
}

#famous-nebula h5,
#famous-nebula h2 {
    width: 75%;
    margin: auto;
}

#famous-nebula h5 {
    color: var(--text_Dark_Accent);
}

#famous-nebula h2 {
    margin: 25px auto;
    color: var(--text-dark);
}

#famous-p1-img {
    width: 80%;
    height: 30vw;
    margin: auto;
    border-radius: 24px;
    background: url(../images/content/orion-nebula_1824x1158.jpg);
    filter: contrast(120%) saturate(1.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#famous-p1 {
    width: 90%;
    margin: auto;
    color: var(--text_Dark_Gray);
}

#famous-p1 p {
    margin-top: 50px;
}

#information-content {
    width: 80%;
    margin: auto;
    padding: 60px 0px;
    color: var(--text-dark);
}

#information-content .main {
    flex: 1;
    text-align: left;
    border: #F3D1BF 1px solid;
}

#information-content .main div h3 {
    margin-bottom: 0px;
}

#information-content .main div {
    padding: 20px 20px;
}

#information-content2 {
    background-color: #FDF0E9;
}

#example {
    width: 100%;
    height: auto;
    padding-top: 80px;
    margin-bottom: 200px;
    padding-bottom: 150px;
    background-color: #F9E5DA;
}

#example h5 {
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--text_Dark_Accent);
}

#example h3 {
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--text-dark);
}

#example-box {
    flex-wrap: wrap;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../images/Rectanglefooter-round\ .png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#icon-menu {
    padding-top: 60px;
}

#footer-icon {
    width: 10%;
    flex-direction: column;
}

#footer-menu {
    width: 10%;
}

#footer-icon a img {
    margin: 14px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#footer-icon a img:hover {
    width: 60px;
    height: 60px;
}

footer div.footer-line {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 49px;
    width: 84%;
    height: 1px;
    background-color: #F3D1BF;
}

#footer-menu h5 {
    color: var(--text_Light_Accent);
}

#footer-menu ul {
    padding: 0;
    list-style: none;
}

#footer-menu ul a{
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text_Light_Gray);
}

#footer-menu ul a:hover{
    transition: 0.5s;
    color: #0feed8;
}

#copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: var(--text_Light_Gray);
}

#copyright p {
    margin: 5px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}


@media (max-width: 992px) {
    #famous-p1 p {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    #banner {
        height: 65vh;
    }

    .box {
        width: 100%;
        padding: 0px;
        border: none;
        box-shadow: none;
    }

    .s-box {
        width: 80%;
        border: none;
        padding: 14px 5vw;
    }

    #famous-nebula {
        padding-top: 100px;
    }

    #famous-p1-img {
        width: 90%;
        height: 50vw;
    }

    #information-content {
        flex-direction: column;
    }

    #icon-menu {
        flex-direction: column;
    }

    #footer-icon {
        width: 100%;
        flex-direction: row;
    }

    #footer-menu {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    #footer-menu h5 {
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    #copyright p {
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    #banner {
        height: 65vh;
    }

    .s-box {
        text-align: justify;
    }

    .s-box img{
        width: 80%;
        
    }

    #information-content1,
    #information-content2 {
        padding: 20px;
    }

    #information-content .main div {
        padding: 0px;
    }

    #information-content .main div.word {
        margin-left: 30px;
    }

    #information-content .main div h3 {
        font-size: 24px;
    }


}