/* Pre-set */
:root {
    --text-light: #FFFFFF;
    --text-dark: #3F3351;
    --text_Dark_Accent: #8C347A;
    --text_Dark_Gray: rgba(57, 20, 0, 0.64);
    --text_Light: #FFFFFF;
    --text_Light_Accent: #EF6D58;
    --text_Light_Gray: rgba(255, 255, 255, 0.64);
}

.flex {
    display: flex;
}

.f-r {
    flex-direction: row;
}

.f-c {
    flex-direction: column;
}

.t-c {
    text-align: center;
}

.a-c {
    align-items: center;
}

.c-c {
    align-content: center;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}

.j-e {
    justify-content: space-evenly;
}

.t-d-n {
    text-decoration: none;
}

/* text */
* {
    font-family: 'Epilogue', 'Times New Roman';
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Box */
.box {
    width: 75%;
    height: auto;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid #864879;
    box-shadow: 10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}


/* Main */
body {
    margin: 0px;
}

#container {
    max-width: 1920px;
    margin: auto;
    background-color: #080302;
}

#banner {
    position: relative;
    height: 50vh;
    background: #1F1D36;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    z-index: 1;
}

/* Navbar */
#menu {
    position: fixed;
    top: 0;
}

#menu,
#menu a {
    color: var(--text_Light);
    transition: 1s;
}

#menu a {
    text-decoration: none;
}

#menu-logo img {
    margin-right: 11px;
}

#menu-main ul {
    padding: 0;
    list-style: none;
}

#menu-main li {
    padding: 5px 4vw;
}

#menu-main a:first-child {
    display: none;
}

#menu-home {
    width: 138px;
    height: 48px;
    font-weight: 900;
    box-shadow: -2px 4px 5px 0px rgba(22, 5, 207, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    text-transform: uppercase;
}

#menu-home a:not(:first-child) {
    display: none;
}

/* Hover */

#menu a:hover,
#menu h4:hover {
    color: #f65ed3;
    transition: 0.3s;
    cursor: pointer;
}


/* ------------- Menu animation when scroll down -------------  */

#menu.sticky {
    background-color: #FFFFFF;
    height: 65px;
    /* padding: 5px 0px; */
}

#menu.sticky h4 {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li {
    color: #3F3351;
    transition: color 0.5s;
}

.sticky #menu-home {
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(22, 5, 207, 0.364);
}

.sticky #menu-home a {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li:hover,
#menu.sticky h4:hover,
#menu.sticky a:hover {
    color: #0feed8;
}

/* ----------------------------------------------------------- */

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {

    #menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu h4 {
        margin: 0;
    }

    #menu-logo {
        position: relative;
        left: 10px;
    }

    #menu-main {
        width: 100%;
        height: 0;
        order: 3;
        display: none;
    }

    #menu-main ul {
        flex-direction: column;
        margin-top: 0px;
    }

    #menu-home {
        width: auto;
        padding: 0px 20px;
        position: relative;
        right: 10px;
    }

    #menu-home a:last-child {
        display: block;
    }

    #menu-home a:not(:last-child) {
        display: none;
    }

    .responsive#menu-main {
        display: block;
    }

    .responsive#menu-main a:first-child {
        display: block;
    }

    .responsive#menu-main li {
        background-color: #1f0567a5;
        font-weight: bold;
        padding: 14px 16px;
        animation: slide-down 1s ease-out;
    }

    .sticky .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
    }

    .sticky .responsive#menu-main li:hover {
        background-color: whitesmoke;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-main li:hover {
        background-color: #830cc862;
        font-size: larger;
    }

    .responsive#menu-home,
    .responsive#menu-logo {
        margin-top: 7px;
    }

    .responsive#menu-home#menu-home #icon {
        --fa-animation-duration: 2s;
    }
}

/* .................... Nav End .............................. .*/

#banner h1 {
    position: absolute;
    width: 100%;
    top: 25%;
    color: var(--text-light);
}

#banner p {
    position: absolute;
    width: 100%;
    top: 65%;
    color: var(--text_Light_Gray);
}

#content {
    background-color: #E9A6A6;
}

#end-of-stars {
    padding-top: 150px;
}

#end-of-stars h5, #end-of-stars h2{
    width: 73%;
    margin: auto;
}

#end-of-stars h5{
    color: var(--text_Dark_Accent);
}

#end-of-stars h2{
    margin: 25px auto;
    color: var(--text-dark);
}

#end-p1 {
    width: 40%;
    color: var(--text_Dark_Gray);
}

#end-p2 {
    margin-top: 140px;
    width: 60%;
    color: var(--text_Dark_Gray);
}

#crab {
    margin-left: 50px;
    width: 70%;
    border-radius: 50%;
}

#supernova {
    width: 60%;
    height: 35vw;
    margin: 300px auto;
    border-radius: 155px;
    box-shadow: 0px 4px 250px 150px rgba(209, 222, 255, 0.32);
    background-image: url(../images/content/supernova.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#gas {
    background-color: #28293E;
    height: auto;  
    padding-top: 50px;
    padding-bottom: 200px;
}

#gas h5, #gas h3 {
    width: 80%;
}

#gas h5 {
    margin: auto;
    color: var(--text_Light_Accent);
}

#gas h3 {
    margin: 50px auto;
    color: var(--text_Light);
}

#gas-content {
    width: 80%;
    margin: auto;
    margin-bottom: 200px;
}

#gas-content p {
    width: 47%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text_Light_Gray);
}

#gas-content img {
    width: 40%;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.25));
}

#gas-img {
    position: relative;
    width: 100%;
    height: 42.5vw;
}

#left, #midleft, #midright, #right{
    width: 20%;
    border-radius: 6px;
}

#left {
    position: absolute;
    bottom: 0%;
    left: 2.5%;
    height: 15vw;
    background-image: url(../images/content/Orion_Nebula.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#midleft {
    position: absolute;
    bottom: 27.5vw;
    left: 25%;
    height: 15vw;
    background-image: url(../images/content/monkey_head.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#midright {
    position: absolute;
    bottom: 27.5vw;
    right: 25%;
    height: 15vw;
    background-image: url(../images/content/carina_nebula.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#right {
    position: absolute;
    bottom: 0%;
    right: 2.5%;
    height: 15vw;
    background-image: url(../images/content/f22c86cf50a559f6b5b5f8df522b3bc9--big-star-nebulas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mid {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 25vw;
    background-image: url(../images/content/nasa--hI5dX2ObAs-unsplash.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9px;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#icon-menu {
    padding-top: 60px;
}

#footer-icon {
    width: 10%;
    flex-direction: column;
}

#footer-menu {
    width: 10%;
}

#footer-icon a img {
    margin: 14px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#footer-icon a img:hover {
    width: 60px;
    height: 60px;
}

footer div.line {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 49px;
    width: 84%;
    height: 1px;
    background-color: #3F3351;
}

#footer-menu h5 {
    color: var(--text_Dark_Accent);
}

#footer-menu ul {
    padding: 0;
    list-style: none;
}

#footer-menu ul a{
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text_Dark_Gray);
}

#footer-menu ul a:hover{
    transition: 0.5s;
    color: #f65ed3;
}

#copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: var(--text_Light_Gray);
}

#copyright p {
    margin: 5px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

@media (max-width: 992px) {}

@media (max-width: 800px) {
    #banner {
        height: 65vh;
    }

    #end-box {
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 95%;
        padding: 0 0;
        height: auto;
        margin: auto;
        border: none;
        box-shadow: none;
    }

    #end-p1 {
        width: 100%;
        color: var(--text_Dark_Gray);
    }
    
    #end-p2 {
        margin-top: 0;
        width: 100%;
        color: var(--text_Dark_Gray);
    }

    #end-of-stars h5, #end-of-stars h2{
        width: 95%;
        margin: auto;
    }

    #end-of-stars h5{
        margin: 20px auto;
    }

    #crab {
        display: block;
        margin: 50px auto;
        width: 90%;
        box-shadow: 0px 0px 100px 10px rgba(81, 44, 0, 0.58);
    }

    #supernova {
        margin: 150px auto;;
        box-shadow: 0px 4px 100px 50px rgba(209, 222, 255, 0.32);
    }

    
    #gas-content {
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
    }

    #gas-content p {
        width: 80%;
    }
    
    #gas-content img {
        width: 60%;
        margin: 80px auto;
    }

    #gas-img {
        height: 106.66vw;
    }

    #left, #midleft, #midright, #right{
        width: 45%;
        border-radius: 9px;
    }
    
    #left {
        position: absolute;
        top: 76.66vw;
        left: 3.33%;
        height: 30vw;
        background-image: url(../images/content/Orion_Nebula.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #midleft {
        position: absolute;
        top: 43.33vw;
        left: 3.33%;
        height: 30vw;
        background-image: url(../images/content/monkey_head.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #midright {
        position: absolute;
        top: 43.33vw;
        right: 3.33%;
        height: 30vw;
        background-image: url(../images/content/carina_nebula.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #right {
        position: absolute;
        top: 76.66vw;
        right: 3.33%;
        height: 30vw;
        background-image: url(../images/content/f22c86cf50a559f6b5b5f8df522b3bc9--big-star-nebulas.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #mid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0px auto;
        width: 93.34%;
        height: 40vw;
        background-image: url(../images/content/nasa--hI5dX2ObAs-unsplash.jpg);
        background-size: cover ;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 9px;
    }

    #icon-menu {
        flex-direction: column;
    }

    #footer-icon {
        width: 100%;
        flex-direction: row;
    }

    #footer-menu {
        text-align: center;
        margin: auto;
    }

    #footer-menu h5 {
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    #copyright p {
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    #banner {
        height: 75vh;
    }
}