/* Pre-set */
:root {
    --text-Light: #FFFFFF;
    --text-Dark: #3F3351;
    --text_Dark_Accent: #8C347A;
    --text_Dark_Gray: rgba(57, 20, 0, 0.64);
    --text_Light: #FFFFFF;
    --text_Light_Accent: #EF6D58;
    --text_Light_Gray: rgba(255, 255, 255, 0.64);
}

.flex {
    display: flex;
}

.f-r {
    flex-direction: row;
}

.f-c {
    flex-direction: column;
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.mt-20 {
    margin-top: 20px;
}

.mb-460 {
    margin-bottom: 460px;
}

.d-n {
    text-decoration: none;
}

.a-c {
    align-items: center;
}

.c-c {
    align-content: center;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}

.j-e {
    justify-content: space-evenly;
}

.j-f-e {
    justify-content: flex-end;
}

.s-e {
    align-self: flex-end;
}

.t-d-n {
    text-decoration: none;
}

/* text */
* {
    font-family: 'Epilogue', 'Times New Roman';
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Button */
.btn {
    background: linear-gradient(90deg, #458FFE 0%, rgba(0, 102, 255, 0.35) 97.06%);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border: 0px;
    border-radius: 6px;
    width: 138px;
    height: 48px;
}

.l-btn {
    background: linear-gradient(90deg, #458FFE 0%, rgba(0, 102, 255, 0.35) 97.06%);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border: 0px;
    border-radius: 6px;
    width: 227px;
    height: 48px;
}

.btn .btnspan,
.l-btn .btnspan {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFEF5A;
}

.btn:hover,
.l-btn:hover {
    cursor: pointer;
    animation: btnrotate 0.7s ease-in-out both;
}

.btn:hover .btnspan,
.l-btn:hover .btnspan {
    animation: btnstorm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes btnrotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes btnstorm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.line {
    height: 1px;
    margin: auto;
    background-color: #3F3351;
}

.timeline-img {
    border-radius: 31px;
    z-index: 1;
}

.box {
    position: relative;
    width: 36%;
    padding: 20px 60px 90px 60px;
    border: 1px solid #864879;
    background: #E9A6A6;
    z-index: 1;
}

.b-box {
    position: relative;
    width: 65%;
    margin: auto;
    padding: 20px 60px 90px 60px;
    border: 1px solid #864879;
    background: #E9A6A6;
}


/* Main */
body {
    margin: 0px;
}

#container {
    max-width: 1920px;
    margin: auto;
    background-color: black;
}

#banner {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.51) 10%, rgba(0, 0, 0, 0) 20%), url(../images/content/bg.jpg);
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 100%;
}

#back-top {
    display: none;
    position: fixed;
    padding: 10px 12px;
    background-color: #ef6c58aa;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#back-top:hover {
    display: none;
    position: fixed;
    padding: 10px 12px;
    background-color: #ef6c58;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#back-top.sticky{
    display: block;
}

#title h1 {
    position: absolute;
    color: var(--text-Light);
    top: 20%;
    left: 10%
}

#title p {
    position: absolute;
    color: var(--text-Light);
    opacity: 0.64;
    top: 55%;
    left: 10%
}

#title a {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    padding: 16px 52px;
    border-radius: 6px;
    background: #864879;
    color: var(--text-Light);
    top: 70%;
    left: 10%
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    z-index: 10000;
}

/* Navbar */

#menu {
    position: fixed;
    top: 0;
}

#menu,
#menu a {
    color: var(--text_Light);
    transition: 1s;
}

#menu a {
    text-decoration: none;
}

#menu-logo img {
    margin-right: 11px;
}

#menu-main ul {
    padding: 0;
    list-style: none;
}

#menu-main li {
    padding: 5px 2.5vw;
}

#menu-main a:first-child {
    display: none;
}

#menu-home {
    width: 138px;
    height: 48px;
    font-weight: 900;
    box-shadow: -2px 4px 5px 0px rgba(22, 5, 207, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    text-transform: uppercase;
}

#menu-home a:not(:first-child) {
    display: none;
}

/* Hover */

#menu a:hover,
#menu h4:hover {
    color: #f65ed3;
    transition: 0.3s;
    cursor: pointer;
}


/* ------------- Menu animation when scroll down -------------  */

#menu.sticky {
    background-color: #FFFFFF;
    height: 65px;
    /* padding: 5px 0px; */
}

#menu.sticky h4 {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li {
    color: #3F3351;
    transition: color 0.5s;
}

.sticky #menu-home {
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(22, 5, 207, 0.364);
}

.sticky #menu-home a {
    color: #3F3351;
    transition: color 0.3s;
}

#menu.sticky ul a li:hover,
#menu.sticky h4:hover,
#menu.sticky a:hover {
    color: #0feed8;
}

/* ----------------------------------------------------------- */

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {

    #menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu h4 {
        margin: 0;
    }

    #menu-logo {
        position: relative;
        left: 10px;
    }

    #menu-main {
        width: 100%;
        height: 0;
        order: 3;
        display: none;
    }

    #menu-main ul {
        flex-direction: column;
        margin-top: 0px;
    }

    #menu-home {
        width: auto;
        padding: 0px 20px;
        position: relative;
        right: 10px;
    }

    #menu-home a:last-child {
        display: block;
    }

    #menu-home a:not(:last-child) {
        display: none;
    }

    .responsive#menu-main {
        display: block;
    }

    .responsive#menu-main a:first-child {
        display: block;
    }

    .responsive#menu-main li {
        background-color: #1f0567a5;
        font-weight: bold;
        padding: 14px 16px;
        animation: slide-down 1s ease-out;
    }

    .sticky .responsive#menu-main li {
        background-color: white;
        color: rgb(142, 142, 142);
        font-weight: bold;
    }

    .sticky .responsive#menu-main li:hover {
        background-color: whitesmoke;
        font-size: larger;
        font-weight: bold;
    }

    .responsive#menu-main li:hover {
        background-color: #830cc862;
        font-size: larger;
    }

    .responsive#menu-home,
    .responsive#menu-logo {
        margin-top: 7px;
    }

    .responsive#menu-home#menu-home #icon {
        --fa-animation-duration: 2s;
    }
}

/* .................... Nav End .............................. .*/


@media (max-width: 992px) {
    #banner {
        background-size: 130%;
    }
}

@media (max-width: 600px) {
    #banner {
        background-size: 210%;
    }

    #title h1 {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        text-align: center;
        width: 60%;
        left: auto;
    }

    #title p {
        left: auto;
    }

    #title a {
        left: auto;
    }
}

#content {
    position: relative;
    height: auto;
    background-color: #E9A6A6;
}

#about {
    padding: 200px 0px;
}

#about-img,
#about-text {
    width: 40%;
}

#about-img img {
    border-radius: 38px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#about-text h5 {
    color: var(--text_Dark_Accent);
}

#about-text h2 {
    color: var(--text-Dark);
}

#about-text p {
    color: var(--text_Dark_Gray);
}

#information {
    width: 80%;
    margin: auto;
}

#information-content {
    padding: 60px 0px;
    color: var(--text-Dark);
}

#information-content div {
    flex: 1;
    padding: 25px;
    text-align: left;
    border: #864879 1px solid;
}

#information-content div h3 {
    margin-bottom: 0;
}

#what-this-websites {
    margin-top: 70px;
    margin-bottom: 0;
    color: var(--text_Dark_Accent);
}

#web-intro #intro {
    width: 38%;
}

#web-intro #number {
    width: 50%;
}

#intro {
    margin-right: auto;
}

#intro h3 {
    color: var(--text-Dark);
}

#intro p {
    color: var(--text_Dark_Gray);
}

#number h1 {
    margin: 20px 50px 20px 0px;
    color: #391400;
}

#number h4 {
    color: var(--text-Dark);
}

#number #number-4 {
    margin-bottom: 50px;
}

#timeline {
    width: 95%;
    margin: 220px auto 0 auto;
}

#timeline-line {
    position: absolute;
    width: 8px;
    height: 2000px;
    margin-top: 30px;
    background: #D9D9D9;
    left: 48%;
    transform: translateX(-50%);
}

#s-timeline-line1 {
    position: absolute;
    display: none;
    width: 8px;
    height: 700px;
    margin-top: 800px;
    background: #D9D9D9;
    left: 48%;
    transform: translateX(-50%);
}

#s-timeline-line2 {
    position: absolute;
    display: none;
    width: 8px;
    height: 720px;
    margin-top: 800px;
    background: #D9D9D9;
    left: 48%;
    transform: translateX(-50%);
}

#timeline div .box h5,
#timeline div .b-box h5 {
    color: var(--text_Dark_Accent);
}

#timeline div .box h3,
#timeline div .b-box h3 {
    color: var(--text-Dark);
}

#timeline div .box p,
#timeline div .b-box p {
    color: var(--text_Dark_Gray);
}

#timeline div .box p.text-big,
#timeline div .b-box p.text-big {
    color: var(--text_Dark);
}

#origins {
    position: absolute;
    bottom: 20px;
    right: 60px;
}

#origins-box {
    box-shadow: 10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}

#end-box {
    margin-right: 3vw;
    box-shadow: -10px 10px 20px 5px rgba(134, 72, 102, 0.25);
}

#details-box {
    box-shadow: 0px 10px 20px 5px rgba(134, 72, 102, 0.25);
}



#end {
    position: absolute;
    bottom: 20px;
    right: 60px;
}

#origins-img {
    position: relative;
    width: 50%;
    height: 400px;
    background: url(../images/content/supernova.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 auto 0 auto;
    z-index: 1;
}

#end-img {
    position: relative;
    width: 62%;
    height: 400px;
    background: url(../images/content/STScI-H-stars-nebulae-9545-2400x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 auto 0 auto;
    z-index: 1;
}

#details-img {
    position: relative;
    width: 73%;
    height: 400px;
    background: url(../images/content/The-Fairy-of-Eagle-Nebula.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0px auto 60px auto;
    z-index: 1;
}

#check {
    margin: 30px 0px;
}

#check img {
    margin-right: 20px;
}

#check p {
    color: var(--text_Dark_Gray);
}

#timeline-details {
    margin-bottom: 300px;
}

#timeline-details a {
    position: absolute;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../images/Rectanglefooter-round\ .png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#icon-menu {
    padding-top: 60px;
}

#footer-icon {
    width: 10%;
    flex-direction: column;
}

#footer-menu {
    width: 10%;
}

#footer-icon a img {
    margin: 14px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#footer-icon a img:hover {
    width: 60px;
    height: 60px;
}

footer div.line {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 49px;
    width: 84%;
    height: 1px;
    background-color: #F3D1BF;
}

#footer-menu h5 {
    color: var(--text_Light_Accent);
}

#footer-menu ul {
    padding: 0;
    list-style: none;
}

#footer-menu ul a{
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text_Light_Gray);
}

#footer-menu ul a:hover{
    transition: 0.5s;
    color: #0feed8;
}

#copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: var(--text_Light_Gray);
}

#copyright p {
    margin: 5px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

@media (max-width: 992px) {

    .btn,
    .l-btn {
        width: 103px;
    }

    #end,
    #origins {
        bottom: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .box,
    .b-box {
        margin: 50px auto 0px auto;
        width: 80%;
    }

    #origins-box,
    #end-box {
        box-shadow: 0px 10px 20px 5px rgba(134, 72, 102, 0.25);
    }

    #timeline-line {
        display: none;
    }

    #s-timeline-line1,
    #s-timeline-line2 {
        display: block;
    }

    #about {
        flex-direction: column;
        padding: 100px 0px;
    }

    #about-img,
    #about-text {
        width: 70%;
    }

    #about-text {
        margin-top: 100px;
    }

    .timeline-object {
        flex-direction: column;
    }

    #end-box {
        order: 1;
    }

    #end-img {
        order: 0;
    }

    #origins-img,
    #end-img,
    #details-img {
        width: 98%;
    }

}

@media (max-width: 800px) {
    #information-content {
        flex-direction: column;
    }

    #intro p {
        margin-bottom: 30px;
    }

    #web-intro {
        flex-direction: column;
    }

    #web-intro #intro {
        width: 100%;
    }

    #web-intro #number {
        width: 100%;
    }

    #icon-menu {
        flex-direction: column;
    }

    #footer-icon {
        width: 100%;
        flex-direction: row;
    }

    #footer-menu {
        text-align: center;
        margin: auto;
    }

    #footer-menu h5 {
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    #copyright p {
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 32px;
    }

}

@media (max-width: 600px) {

    .box,
    .b-box {
        padding: 20px 2vw 90px 2vw;
        margin: 50px 1vw 0px 1vww;
        width: 95%;
    }

    #about-img {
        width: 312px;
        height: 331px;
    }

    #about-text {
        width: 80%;
    }

    #about-img img {
        width: 312px;
        height: 331px;
        border-radius: 147px;
    }


}