/* Pre-set */
:root {
    --text-light: #FFFFFF;
    --text-dark: #3F3351;
    --text_Dark_Accent: #8C347A;
    --text_Dark_Gray: rgba(57, 20, 0, 0.64);
    --text_Light: #FFFFFF;
    --text_Light_Accent: #EF6D58;
    --text_Light_Gray: rgba(255, 255, 255, 0.64);
}

.flex {
    display: flex;
}

.f-r {
    flex-direction: row;
}

.f-c {
    flex-direction: column;
}

.t-c {
    text-align: center;
}

.a-c {
    align-items: center;
}

.c-c {
    align-content: center;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}

.j-e {
    justify-content: space-evenly;
}

.t-d-n {
    text-decoration: none;
}

/* text */
* {
    font-family: 'Epilogue', 'Times New Roman';
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}





/* Main */
body {
    margin: 0px;
}

#container {
    max-width: 1920px;
    margin: auto;
    height: 10000px;
    background-color: #080302;
}

#banner {
    position: relative;
    top: -70px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.51) 10%, rgba(0,0,0,0) 20%), url(../images/content/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 100%;
}

header {
    width: 100%;
    z-index: 1;
}

#menu{
    height: 70px;
    z-index: 1;
}
#menu, #menu a {
    color: var(--text_Light);
    transition: 1s;
    z-index: 1;
}

#menu a {
    text-decoration: none;
    z-index: 1;
}
#menu-logo {
    z-index: 1;
}

#menu-logo img {
    margin-right: 11px;
}

#menu-main ul {
    padding: 0;
    list-style: none;
}

#menu-main li {
    padding: 5px 4vw;
    z-index: 1;
}

#menu-home {
    width: 138px;
    height: 48px;
    font-weight: 900;
    box-shadow: -2px 4px 5px 0px rgba(22, 5, 207, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    text-transform: uppercase;
    z-index: 1;
}


/* ------------- Menu animation when scroll down -------------  */

#menu.sticky {
    position: sticky;
    top: 0%;
    background-color: #FFFFFF;
    height: 70px;
    padding: 5px 0px;
    transition: ease-in-out 1s;
}

#menu.sticky h4{
    color: #3F3351;
    transition: 1s;
}

#menu.sticky ul li a{
    color: #3F3351;
    transition: ease-in-out 2s;
}

.sticky #menu-home {
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(22, 5, 207, 0.364);
}

.sticky #menu-home a {
    color: #3F3351;
    transition: 1s;
}

/* ----------------------------------------------------------- */


@media (max-width: 992px) {
    #menu {
        justify-content: space-between;
    }

    #menu-logo {
        position: relative;
        left: 10px;
    }

    #menu-home {
        position: relative;
        right: 10px;
    }

    #menu-main{
      display: none;
    }
}