/* Pre-set */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.content-center {
    align-content: center;
}

.justify-center {
    justify-content: center;
}

.self-center {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

.lh-14 {
    line-height: 1.4;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.deco-none {
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.b-20_r-40 {
    bottom: 20px;
    right: 40px;
}

.bold {
    font-weight: bold;
}

.weight-700 {
    font-weight: 700;
}

.title {
    color: #42495b
}

.text-muted {
    color: #6c757d
}

/* Button */
.btn {
    background: linear-gradient(to right, #1a119e, #5248e3);
    padding: 15px 40px;
    border: 1px solid #1a119e;
    border-radius: 50px;
}

.btn .btnspan {
    color: white;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.btnsmall {
    background: linear-gradient(to right, #1a119e, #5248e3);
    padding: 5px 15px;
    border: 1px solid #1a119e;
    border-radius: 50px;
}

.btnsmall .btnspan {
    color: white;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-size: 10px;
}

.inversebtn {
    background-color: white;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    padding: 15px 40px;
    border: 2px solid #1a119e;
    border-radius: 50px;
}

.inversebtn .btnspan {
    font-size: 15px;
}

.inversebtn:hover {
    background: linear-gradient(to right, #1a119e, #5248e3);
    color: white;
}

.btn:hover,
.btnsmall:hover,
.inversebtn:hover {
    cursor: pointer;
    animation: btnrotate 0.7s ease-in-out both;
}

.btn:hover .btnspan,
.btnsmall:hover .btnspan,
.inversebtn:hover .btnspan {
    animation: btnstorm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes btnrotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes btnstorm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/* Box */
.box {
    width: 20%;
    height: auto;
    background-color: white;
    box-shadow: 0 8px 15px 0 #1b0ffc23;
    border-radius: 35px;
    margin: 0 40px;
    padding: 14px 20px;
}

.Lbox {
    width: 20%;
    height: auto;
    background-color: white;
    border-radius: 35px;
    margin: 0 40px;
    padding: 14px 20px;
}

.Lbox:hover {
    box-shadow: 0 8px 15px 0 #1b0ffc23;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.test {
    background-color: brown;
}


.container {
    /* background-color: rgb(177, 250, 226); */
    overflow-x: hidden ;
    max-width: 1920px;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("../images/Homework Images/Bg Shape@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
}

.header {
    width: 100%;
    flex-wrap: wrap;
}


#marketing {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    width: 29%;

}

#marketing img {
    object-fit: contain;
}

#marketing h3 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 60px;
}

#navbar {
    width: 40%;
    padding: 30px 16px;
}

#navbar a {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    color: rgb(30, 224, 218);
    text-decoration: underline;
}

#icon {
    display: none;
}

#socialmedia-nav {
    position: fixed;
    left: 50px;
    top: 50%;
}

#socialmedia-nav img {
    padding: 20px 0px;
    width: 12px;
}

#socialmedia-nav a:hover {
    opacity: 0.5;
}

.vl {
    position: relative;
    left: 4px;
    border-left: 3px solid #272194;
    height: 30px;
}

.vl:hover {
    opacity: 0.5;
}

#socialmedia {
    padding-bottom: 100px;
    margin-left: 170px;
    margin-right: 86px;
}

#shout {
    position: relative;
    right: 10%;
}

#socialmedia h1 {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 0px;
}

#socialmedia p {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 10px;
}

#socialspan {
    font-size: 60px;
}

#content1-img {
    width: 40%;
}

#mouse {
    position: absolute;
    right: 50%;
    bottom: -100px;
    background-color: white;
    padding: 7px 15px;
    border-radius: 50%;
    box-shadow: 0 8px 40px 0 #1b0ffc23, 0 6px 20px 0 #1b0ffc23;
}

.content2 {
    flex-wrap: wrap;
    margin-top: 120px;
}

.content2 a {
    text-decoration: none;
}

#content2-img {
    width: 45%;
    margin-left: 50px;
}

#content2-img img {
    width: 80%;
}

#biography {
    width: 50%;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 40px;
    left: 40px;
}

#biography h4 {
    font-size: 20px;
    font-weight: 700;
    color: #aba5fe;
}

#biography button {
    margin-top: 40px;
}

#ourservice {
    margin-top: 100px;
    margin-left: 13vw;

    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
}

#ourservice h4 {
    font-size: 20px;
    font-weight: 700;
    color: #aba5fe;
}

#ourservice h1 {
    font-size: 50px;
    font-weight: 700;
}

#content3-row1 {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    margin-top: 80px;
}

#content3-row1 h4 {
    margin: 30px 0px;
}

#content3-row1 p {
    font-size: 14px;
    margin-bottom: 70px;
}

#content3-row2 {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    margin-top: 100px;
}

#content3-row2 h4 {
    margin: 30px 0px;
}

#content3-row2 p {
    font-size: 14px;
    margin-bottom: 70px;
}

.content3 {
    margin-bottom: 250px;
}

.content4 {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    background-color: #eceaff;
    padding: 30px;
}

#content4-title {
    padding-top: 20px;
}

#content4-title h4 {
    font-size: 20px;
    font-weight: 700;
    color: #aba5fe;
    margin-bottom: 15px;
}

#content4-title h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 80px;
}

#Lbox1 h2 {
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 60px;
}

#Lbox2 h2 {
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 60px;
}

#Lbox3 h2 {
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 60px;
}

h1.price {
    margin: 40px 0px;
    color: #1203e1;
}

#dots {
    margin-top: 60px;
}

#dots a {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 5px;
    border: 1px solid #982ff3;
    border-radius: 50%;
    display: inline-block;
}

#dots a:hover {
    background-color: #9790fe;
    height: 10px;
    width: 10px;
}

.content5 {
    position: relative;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    flex-direction: column;
    height: auto;
    background-image: url("../images/Homework Images/Bg Shape footer 2@2x.png"), url("../images/Homework Images/Bg Shape footer 1@2x.png");
    background-size: 2000px, 2900px;
    background-repeat: no-repeat;
    background-position: -250px -100px, -1250px -500px;
}

.content5 h4 {
    font-size: 20px;
    font-weight: 700;
    color: #aba5fe;
    margin-top: 150px;
    margin-bottom: 8px;
}

.content5 h1 {
    font-weight: normal;
    margin-top: 0px;
}

.search-container {
    margin-top: 20px;
    margin-bottom: 100px;
}

.search-container input {
    width: 25vw;
    height: 48px;
    background-color: #f6f7fb;
    border: 0;
}

.search-container a {
    margin-left: 20px;
}

#footer {
    margin-top: 290px;
    color: white;
    flex-wrap: wrap;
}

#footer h1 {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-size: 37px;
}

#footer img {
    margin: 0px 17px;
}

#footer #logo {
    margin-left: 170px;
    margin-bottom: 60px;
}

#logospan {
    line-height: 1.9;
    font-size: 43px;
}

#quicklink {
    flex-direction: column;
    text-align: left;
    margin-left: 150px;
}

#quicklink a {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 8px 0px;
}

#quicklink a:hover {
    color: #aba5fe;
}

#hours {
    margin-left: 130px;
    text-align: left;
}

#contact {
    text-align: left;
    margin-left: 150px;
}

#contact h2 {
    text-align: left;
    margin-left: 14px;
}

@media screen and (max-width: 1200px) {
    #mouse {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #content2-img {
        width: 50%;
        margin: auto;
    }

    #biography {
        width: 90%;
        margin: auto;
        margin-top: 40px;
        padding: 0 10%;
    }

}


@media screen and (max-width: 900px) {
    #navbar a:not(:last-child) {
        display: none;
    }

    .responsive#navbar {
        margin: 0;
        text-align: center;
    }

    .responsive#navbar a:not(:last-child){
        display: block;
        color: black;
        box-shadow: 0 8px 40px 0 #1b0ffc23, 0 6px 20px 0 #1b0ffc23;
        border-radius: 20px;
    }

    #socialmedia-nav {
        display: none;
    }

    #icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    

    .box {
        width: 36%;
    }
}


@media screen and (max-width: 600px) {
    .container {
        background-size: 100px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }
    #socialmedia h1 {
        font-size: 3.3vw;
    }

    #socialspan {
        font-size: 4.7vw;
    }

    /* #navbar {
        margin: 0;
        text-align: center;
    }

    #navbar a{
        color: black;
        box-shadow: 0 8px 40px 0 #1b0ffc23, 0 6px 20px 0 #1b0ffc23;
        border-radius: 20px;
    } */

    #freeAudit {
        margin: auto;
    }

    #marketing {
        margin: 0%;
        text-align: center;
    }

    #content1-img {
        display: none;
    }

    #socialmedia {
        width: 100%;
        text-align: center;
        padding-bottom: 0px; 
        margin-left: 0px; 
        margin-right: 0px;
    }

    #ourservice {
        text-align: center;
        margin-left: 0px;
    }

    #content3-row1 .box {
        width: 100%;
        margin: 20px 0px;
    }

    #content3-row1 p {
        font-size: 2vw;
        margin-bottom: 30px;
    }

    #content3-row2 .box {
        width: 100%;
        margin: 20px 0px;
    }

    #content3-row2 p {
        font-size: 2vw;
        margin-bottom: 30px;
    }

    #package {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Lbox {
        margin-top: 40px;
        width: 90%;
    }

    #footer {
        flex-direction: column;
    }

    #footer div {
        justify-content: center;
        width: 100%;
    }

    #footer #logo {
        margin-left: 0px;
    }

    #hours {
        margin: 20px 0px;
        text-align: center;
    }

    #quicklink {
        margin: 20px 0px;
        text-align: center;
    }

    #contact {
        margin: 20px 0px;
        text-align: center;
    }

    #contact h2 {
        margin: 0;
        text-align: center;
    }

}