/* Pre-set */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.content-center {
    align-content: center;
}

.justify-center {
    justify-content: center;
}

.self-center {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

.lh-14 {
    line-height: 1.4;
}

.deco-none {
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.b-20_r-40 {
    bottom: 20px;
    right: 40px;
}

.bold {
    font-weight: bold;
}

.weight-700 {
    font-weight: 700;
}

.title {
    color: #42495b
}

.text-muted {
    color: #6c757d
}

/* Button */
.btn {
    background: linear-gradient(to right, #1a119e, #5248e3);
    padding: 15px 40px;
    border: 0;
    border-radius: 50px;
}

.btn .btnspan {
    color: white;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif; 
    font-size: 1vw;
}

.btnsmall{
    background: linear-gradient(to right, #1a119e, #5248e3);
    padding: 5px 15px;
    border: 0;
    border-radius: 50px;
}

.btnsmall .btnspan {
    color: white;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif; 
    font-size: 0.7vw;
}


.btn:hover, .btnsmall:hover{
    animation: btnrotate 0.7s ease-in-out both;
}

.btn:hover .btnspan, .btnsmall:hover .btnspan{
    animation: btnstorm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes btnrotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes btnstorm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/* Box */
.box {
    width: 20%;
    height: 330px;
    box-shadow: 0 8px 15px 0 #1b0ffc23;
    border-radius: 35px;
    margin: 0 40px;
    padding: 14px 20px;
}

body {
    margin: 0;
}

.test {
    background-color: brown;
}


.container {
    /* background-color: rgb(177, 250, 226); */
    background-image: url("../images/Homework Images/Bg Shape@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
}

.header {
    width: 100%;
}


#marketing {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 10px;
    width: 20%;
    margin-left: 140px;
}

#marketing img {
    object-fit: contain;
}

#marketing h3 {
    font-size: 2.2vw;
    margin-left: 10px;
    margin-top: 60px;
}

#navbar {
    width: 50%;
    padding: 30px 16px;
    margin-left: 290px;
}


#navbar a {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 0.9vw;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    color: rgb(30, 224, 218);
    text-decoration: underline;
}

#socialmedia-nav {
    align-content: space-between;
    margin-top: 30.5vh;
    margin-left: 80px;
}

#socialmedia-nav img {
    padding: 20px 0px;
    width: 12px;
}

#socialmedia-nav a:hover {
    opacity: 0.5;
}

.vl {
    position: relative;
    left: 4px;
    border-left: 3px solid #272194;
    height: 30px;
}

.vl:hover {
    opacity: 0.5;
}

#socialmedia {
    position: relative;
    bottom: 100px;
    margin-left: 80px;
    margin-right: 86px;
}

#socialmedia h1 {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 3.3vw;
    margin-bottom: 0px;
}

#socialmedia p {
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    font-size: 1vw;
    margin-top: 10px;
}

#socialspan {
    font-size: 5vw;
}

#content1-img {
    width: 40%;
}

#mouse {
    position: absolute;
    right: 48%;
    bottom: -40px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 50%;
    box-shadow: 0 8px 40px 0 #1b0ffc23, 0 6px 20px 0 #1b0ffc23;
}

.content2 {
    margin-top: 120px;
}

.content2 a {
    text-decoration: none;
}

#content2-img {
    width: 45%;
    margin-left: 50px;
}

#content2-img img{
    width: 80%;
}

#biography {
    width: 50%;
    font-family: 'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 40px;
    left: 40px;
}

#biography h4 {
    font-size: 1.2vw;
    font-weight: 700;
    color: #aba5fe;
}

#biography button {
    margin-top: 40px;
}

#ourservice{
    margin-top: 100px;
    margin-left: 13vw;
    width: 50%;
    font-family:'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
}

#ourservice h4 {
    font-size: 1.2vw;
    font-weight: 700;
    color: #aba5fe;
}

#ourservice h1 {
    font-size: 3vw;
    font-weight: 700;
}

#content3-row1 {
    font-family:'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    margin-top: 80px;
}

#content3-row1 h4 {
    margin: 30px 0px;
}

#content3-row1 p {
    font-size: 0.9vw;
}

#content3-row2 {
    font-family:'DM Sans', Courier, monospace, 'Times New Roman', Times, serif;
    margin-top: 100px;
}

#content3-row2 h4 {
    margin: 30px 0px;
}

#content3-row2 p {
    font-size: 0.9vw;
}
