.LOGO {
    grid-area: logo;
    
}

.MENU {
    grid-area: menu;
}

.IMAGESLIDESHOW {
    grid-area: sshow;
    padding: 60px 0px;
}

.FEAT1 {
    grid-area: feat1;
    padding: 50px 0px;
}

.FEAT2 {
    grid-area: feat2;
    padding: 50px 0px;
}

.FEAT3 {
    grid-area: feat3;
    padding: 50px 0px;
}

.SIDEBAR {
    grid-area: sidebar;
    padding: 100px 0px;
}

.TEXTCONTENT {
    grid-area: textContent;
    padding: 100px 0px;
}

.FOOTER {
    grid-area: footer;
    padding: 30px 0px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'logo logo menu menu menu menu'
        'sshow sshow sshow sshow sshow sshow'
        'feat1 feat1 feat2 feat2 feat3 feat3'
        'sidebar sidebar textContent textContent textContent textContent'
        'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}