.LOGO {
    grid-area: logo;
    padding: 40px 0;
}

.BLANK {
    grid-area: blank;
}

.BLANK1 {
    grid-area: blank1;
}

.PHONENUMBER {
    grid-area: pNumber;
    padding: 10px 0;
}

.MENU {
    grid-area: menu;
    padding: 10px 0;
}

.IMAGESLIDESHOW {
    grid-area: sshow;
    padding: 60px 0;
}

.SIDEBAR {
    grid-area: sidebar;
    padding: 150px 0;
}

.TEXTCONTENT {
    grid-area: textContent;
    padding: 150px 0;
}

.FOOTER {
    grid-area: footer;
    padding: 40px 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'logo logo logo blank blank pNumber pNumber pNumber'
        'logo logo logo blank1 menu menu menu menu'
        'sshow sshow sshow sshow sshow sshow sshow sshow '
        'textContent textContent textContent textContent textContent sidebar sidebar sidebar'
        'footer footer footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}