/* Showcase */
.background {
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background: url(../images/beach_pulau/beach-pulau-bg.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Showcase */

/* About */
.main-title img {
    width: 90px;
}


/* About */

/* Activities */
.activity {
    background-color: rgba(215, 255, 55, 0.1);
}

.activity .row {
    padding-top: 6.25rem;
    padding-bottom: 10rem;
}

.right-ellipse {
    position: relative;
}

.right-ellipse img {
    position: absolute;
    width: 40rem;
}

.img2 {
    display: none;
    width: 38rem;
}

.right-ellipse h2,p {
    z-index: 1;
}

.right-ellipse p {
    width: 30rem;
}
/* Activities */

/* Food */

.food .row {
    padding-top: 6.25rem;
    padding-bottom: 10rem;
}
/* Food */

/* Gallery */
.gallery {
    background-color: rgba(215, 255, 55, 0.1);
}

.gallery .box :hover {
    transition-duration: 0.3s;
    border-radius: 20px;
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
/* Gallery */

footer {
    background-color: rgba(215, 255, 55, 0.1);
}
@media screen and (max-width: 1200px){
    .right-ellipse {
        height: 40rem;
    }
}

@media screen and (max-width: 575px) {        
   
    
    .activity .row {
        padding-top: 1rem;
    }

    .img2 {
        display: block;
        min-height: 30rem;
    }

    .right-ellipse p {
        width: 90vw;
    }

    .food .row {
        padding-top: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
}


