#pin {
  bottom: 5%;
  left: 5%;
}

.himg {
  width: 95%;
  display: flex;
  justify-content: center;
}

.cm {
  margin-top: 0%;
}

.prev-btn {
  background-image: linear-gradient(
    to right,
    rgba(180, 255, 159, 0.7),
    rgba(249, 255, 164, 0.7)
  );
}

.next-btn {
  background-image: linear-gradient(
    to right,
    rgba(255, 213, 158, 0.7),
    rgba(255, 161, 161, 0.7)
  );
}

.background1 {
  background-image: url(../images/culture_batu/b1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.background2 {
  background-image: url(../images/culture_batu/b2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel-1 img{
  filter: brightness(95%);
}

.carousel-2 img{
  filter: brightness(95%);
}
.carousel-3 img{
  filter: brightness(95%);
}

@media screen and (max-width: 440px) {
  .carousel-1 img {
    content: url(../images/culture_batu/h2-500.jpg);
  }

  .carousel_2 img {
    content: url(../images/culture_batu/h3-500.jpg);
  }

  .carousel_3 img {
    content: url(../images/culture_batu/h6-500.jpg);
  }

  .cm {
    margin-top: 5%;
  }
}
