#pin {
  bottom: 5%;
  left: 5%;
}

.timg {
  width: 95%;
  display: flex;
  justify-content: center;
}

.cm {
  margin-top: 0%;
}

.prev-btn {
  background-image: linear-gradient(
    to right,
    rgba(255, 227, 169, 0.7),
    rgba(255, 195, 195, 0.7)
  );
}

.next-btn {
  background-image: linear-gradient(
    to right,
    rgba(255, 140, 140, 0.7),
    rgba(255, 93, 93, 0.7)
  );
}

.background1 {
  background-image: url(../images/culture_thean/b1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url(../images/culture_thean/b2.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.carousel-1 img{
  filter: brightness(95%);
}

.carousel-2 img{
  filter: brightness(95%);
}
.carousel-3 img{
  filter: brightness(95%);
}



@media screen and (max-width: 440px) {
  .carousel-1 img {
    content: url(../images/culture_thean/t1-500.jpg);
  }

  .carousel_2 img {
    content: url(../images/culture_thean/t3-500.jpg);
  }

  .carousel_3 img {
    content: url(../images/culture_thean/t4-500.jpg);
  }

  .cm {
    margin-top: 5%;
  }
}
