#pin {
    bottom: 5%;
    left: 5%;
  }
  
  #pin p {
    margin-bottom: 0%;
    font-size: calc(10px + 1vw);
  }
  
  .mimg {
    width: 95%;
    display: flex;
    justify-content: center;
  }
  
  .head {
    font-weight: 600;
  }
  
  .t1 {
    font-size: 2vw;
  }
  
  .t2 {
    font-size: 1.5vw;
  }
  
  .t3 {
    font-weight: 700;
    font-size: 1.3vw;
    margin-bottom: 0%;
  }
  
  .t4 {
    font-size: 1.3vw;
  }
  
  .container-fuild a,
  .card-body a {
    font-size: 1.5vw;
  }
  
  div p {
    font-size: 1.5vw;
  }
  
  .link {
    font-size: 2vw;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  
  .link p {
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  .fixed-heigh{
    min-height: 400px;
  }

  i{
    font-size: 1vw;
  }

  @media screen and (min-width: 2800px) {
    .carousel h1{
      font-size: 1vw;
    }

    #pin p{
      font-size: 0.8vw;
    }

    i{
      font-size: 0.8vw;
    }

    .head {
      font-size: 1vw;
    }
  
    .t1 {
      font-size: 1vw;
    }
  
    .t2 {
      font-size: 0.8vw;
    }
  
    .t3 {
      font-size: 1vw;
    }
  
    .container-fuild a,
    .card-body a {
      font-size: 1vw;
    }
  
    .col-6 p {
      font-size: 1vw;
    }
  
    .link {
      font-size: 2.3vw;
    }

    div p{
      font-size: 1vw;
    }

    .card p{
      font-size: 0.8vw;
    }

    .card a{
      font-size: 0.8vw;
    }
  }

  
  @media screen and (max-width: 768px) and (min-width: 577px) {

    .head {
      font-weight: 400;
    }
  
    .t1 {
      font-size: 2.3vw;
    }
  
    .t2 {
      font-size: 2vw;
    }
  
    .t3 {
      font-size: 1.8vw;
    }
  
    .t4 {
      font-size: 1.5vw;
    }
  
    .container-fuild a,
    .card-body a {
      font-size: 2vw;
    }
    
    .card p,
    .container-fuild p,
    .col-6 p {
      font-size: 2vw;
    }
  
    .link {
      font-size: 2.3vw;
    }

    i{
      font-size: 2vw;
    }
  }
  
  @media screen and (max-width: 576px) {
    .head {
      font-weight: 500;
    }
  
    .t1 {
      font-size: 5vw;
    }
  
    .t2 {
      font-size: 4.5vw;
    }
  
    .t3 {
      font-size: 4.3vw;
    }
  
    .t4 {
      font-size: 4vw;
    }
  
    .container-fuild a,
    .card-body a {
      font-size: 4.3vw;
    }
    
    .card p,
    .container-fuild p,
    .col-6 p {
      font-size: 4.3vw;
    }
  
    .link {
      font-size: 4.8vw;
    }

    i{
      font-size: 4vw;
    }
  }