body, html {
  height: 100%;
  background-color: #D2DDCD;
}
image{
  width: 100%;
}
.wd-50{
  width: 45%;
}
div p{
  font-size: 200%;
}
@media only screen and (max-width: 850px) {
  div p{
    font-size: 4vw;
  }
  .wd-50{
    width: 100%;
  }
  body, html {
    height: 60%;
    background-color: #D2DDCD;
  }
  .bg {
    /* The image used */
    background-image: url(../images/penanghill/penang-5230946_960_720.jpg);
    
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
  }
}
.bg {
  /* The image used */
  background-image: url(../images/penanghill/penang-5230946_960_720.jpg);
  
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}
.accordion-button{
  background-color: #519259!important;
  color: white!important;
}
#pin{
  bottom: 5%;
  left: 5%;
}
.white a{
  color: white;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#shop1{
  background-image: url(../images/penanghill/qchyi7wcku0tniqukwde.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#shop2{
  background-image: url(../images/penanghill/DSC_0079.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#shop3{
  background-image: url(../images/penanghill/109337102_1580324648798137_2152564181306334125_o.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}