body, html {
    height: 100%;
    background-color: #D2DDCD;
  }
  p{
    font-size: 2vw;
  }
.bg {
    /* The image used */
    background-image: url(../images/penanghill/penang-5230946_960_720.jpg);
    
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
  }
#location-pin{
    bottom: 5%;
    left: 5%;
}
.white a{
    color: white;
}
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
#shop1{
    background-image: url(../images/penanghill/qchyi7wcku0tniqukwde.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#shop2{
    background-image: url(../images/penanghill/DSC_0079.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#shop3{
    background-image: url(../images/penanghill/109337102_1580324648798137_2152564181306334125_o.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}