:root {
    --bg-gradient-black: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    --bg-btn-green: #519259E5;
    --bg-btn-lightBlue: #66BFBFE5;
    --bg-btn-brown: #CCA035E5;
    --bg-toolsTip-orange: #F0BB62F2;
}

.text-justify {
    text-align: justify;
}

h1 {
    font-size: calc(18px + 1.5vw);
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: calc(10px + 1.5vw);
    line-height: 1.2;
}

.image-fill-black {
    filter: brightness(70%);
}

.slidetshow-fixed-heigh {
    min-height: 500px;
}

.slideshow-content-header {
    font-size: 75px;
    font-weight: 600;
}

.slideshow-content-paragraph {
    font-size: calc(1.325rem + .9vw);
}

.btn {
    --bs-btn-padding-x: 2rem !important;
}

.btn-green {
    background-color: var(--bg-btn-green) !important;
}

.btn-lightBlue {
    background-color: var(--bg-btn-lightBlue) !important;
}

.btn-brown {
    background-color: var(--bg-btn-brown) !important;
}

.carousel-caption-middle {
    position: absolute;
    right: 18%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateY(-50%);
    left: 18%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    text-align: center;
}

#first-content {
    width: 80%;
    margin-top: 80px;
    margin-bottom: 300px;
}

#chineseTemple {
    position: relative;
    width: 100%;
}

#first-content-bg1 {
    width: 60%;
    top: 20%;
    right: 0%;
    z-index: -1;
}

#first-content-bg2 {
    width: 40%;
    top: 30%;
    left: 0%;
    z-index: -1;
    opacity: 0.2;
}

#first-content-bg3 {
    width: 50%;
    top: 90%;
    right: 10%;
    z-index: 0;
    opacity: 1;
}

.tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
}

#second-content {
    background-color: #DCF5C8;
}

#second-content p {
    width: 50%;
}

#second-content-text {
    height: 150vh;
}


#waterfall {
    width: 60%;
    top: 27vw;
    left: 0%;
}

#river {
    width: 60%;
    top: 50vw;
    right: 0;
}

#b-leaf {
    width: 80%;
    top: 0%;
    z-index: 0;
}

#b-leaf-stem {
    width: 57%;
    top: 4%;
    left: 12%;
    z-index: 1;
}



@media screen and (max-width: 1149px) {
    #first-content-bg3 {
        top: 80%;
    }
}

@media screen and (max-width: 993px) {
    #first-content-bg1 {
        top: 25%;
    }

    #first-content-bg3 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .slideshow-content-header {
        font-size: calc(14px + 5.8vw);
    }

    #first-content {
        margin-top: 50px;
        margin-bottom: 200px;
    }

    #first-content-bg1 {
        width: 70%;
        top: 32%;
        right: -5%;
    }

    #first-content-bg2 {
        width: 55%;
        top: 50%;
        left: -10%;
    }
}

@media screen and (max-width: 576px) {
    .slideshow-content-header {
        font-size: 35px
    }

    .slideshow-content-paragraph {
        font-size: calc(1rem + .9vw);
    }

    .carousel-caption-middle {
        position: absolute;
        right: 5%;
        top: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateY(-50%);
        left: 5%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        color: rgb(255, 255, 255);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    #first-content {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #chineseTemple {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }
}