:root {
    --bg-gradient-black: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    --bg-btn-green: #519259E5;
    --bg-btn-lightBlue: #66BFBFE5;
    --bg-btn-brown: #CCA035E5;
    --bg-btn-blue: #5899E7E5;
    --bg-toolsTip-orange: #F0BB62F2;
    --bg-toolsTip-lightGreen: #a6dc98f1;
    --bg-info2-lightGreen: #93dd80f1;
}

.text-justify {
    text-align: justify;
}

.image-fill-black {
    filter: brightness(60%);
}

.slidetshow-fixed-heigh {
    min-height: 500px;
}

.carousel-caption-middle {
    position: absolute;
    right: 18%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateY(-50%);
    left: 18%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    overflow-x: hidden;
}

#first-content {
    background: url(../images/home/hindutemplebg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 80px;
    width: 80%;
    margin-top: 80px;
    padding-bottom: 300px;
}

#chineseTemple {
    position: relative;
    width: 100%;
}

.icon-info {
    font-size: 30px;
    --fa-animation-duration: 1s;
    --fa-beat-fade-opacity: 0.7;
    --fa-beat-fade-scale: 1.075;
}

#icon-info_1 {
    color: var(--bg-toolsTip-orange);
    right: 0%;
    top: 5%;
    z-index: 2;
}

#icon-info_2 {
    color: var(--bg-info2-lightGreen);
}

#first-content-bg1 {
    width: 60%;
    top: 10%;
    right: 1%;
    z-index: -1;
}

#first-content-bg2 {
    width: 40%;
    top: 28%;
    left: -7%;
    z-index: -1;
    opacity: 0.2;
}

.custom-tooltip .tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.custom-tooltip .tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
}

.custom-tooltip2 .tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-lightGreen);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.custom-tooltip2 .tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-lightGreen);
}

#second-content {
    background-color: #DCF5C8;
    padding-bottom: 1000px;
}

#second-content span {
    font-family: Arial, Helvetica, sans-serif
}

#second-content-h1 {
    z-index: 2;
}

#second-content-p1 {
    width: 50%;
    z-index: 2;
}

#b-leaf {
    width: 65%;
    opacity: 0.85;
    top: 30px;
    left: 30px;
}

#waterfall {
    width: 50%;
    top: 450px;
    left: 20%;
    transform: translateX(-20%);
}

#river {
    width: 50%;
    top: 800px;
    left: 80%;
    transform: translateX(-80%);
}

#s-leaf {
    bottom: 45px;
    right: 90px;
}

#s-leaf i {
    right: -120px;
}

#s-leaf img {
    width: 40%;
    left: 50%;
}

#third-content-text {
    width: 85%;
}

#third-content {
    background: url(../images/home/newera.png), #a1959540;
    background-position-x: -10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.row {
    margin-right: 0 !important;
}

#third-content-img {
    margin-top: 50px;
    margin-bottom: 50px;
}


 @media screen and (min-width: 1700px) {
    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 1050px;
    }

    #s-leaf {
        bottom: 45px;
        right: 140px;
    }
 }

 @media screen and (min-width: 1900px) {
    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 1220px;
    }

    #river {
        width: 50%;
        top: 900px;
        left: 80%;
        transform: translateX(-80%);
    }

    #s-leaf {
        bottom: 60px;
        right: 140px;
    }
 }

 @media screen and (min-width: 3000px) {
    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 1130px;
    }

    #waterfall {
        width: 50%;
        top: 540px;
        left: 20%;
        transform: translateX(-20%);
    }
    
    #river {
        width: 50%;
        top: 890px;
        left: 80%;
        transform: translateX(-80%);
    }

    #s-leaf {
        bottom: 70px;
        right: 140px;
    }
 }

 @media screen and (min-width: 4000px) {
    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 1230px;
    }

    #waterfall {
        width: 50%;
        top: 400px;
        left: 20%;
        transform: translateX(-20%);
    }
    
    #river {
        width: 50%;
        top: 850px;
        left: 80%;
        transform: translateX(-80%);
    }

    #s-leaf {
        bottom: 70px;
        right: 140px;
    }
 }

@media screen and (max-width: 1300px) {
    #first-content {
        background: url(../images/home/hindutemplebg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 120px;
        width: 80%;
        margin-top: 80px;
        padding-bottom: 150px;
    }

    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 900px;
    }

    #s-leaf {
        bottom: 60px;
        right: 90px;
    }
}
@media screen and (max-width: 1200px) {
    #first-content {
        background: url(../images/home/hindutemplebg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 150px;
        width: 80%;
        margin-top: 80px;
        padding-bottom: 100px;
    }

    #second-content-p1 {
        width: 80%;
        z-index: 2;
    }
}

@media screen and (max-width: 1149px) {
    #first-content-bg3 {
        top: 80%;
    }

    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 750px;
    }

    #b-leaf {
        width: 65%;
        opacity: 0.85;
        top: 30px;
        left: 30px;
    }
    
    #waterfall {
        width: 50%;
        top: 420px;
        left: 20%;
        transform: translateX(-20%);
    }
    
    #river {
        width: 50%;
        top: 700px;
        left: 80%;
        transform: translateX(-80%);
    }
    
    #s-leaf {
        bottom: 20px;
        right: 50px;
    }

    #icon-info_1 {
        right: 0%;
        top: 9%;
    }
}

@media screen and (max-width: 993px) {
    #first-content {
        background: url(../images/home/hindutemplebg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 180px;
        width: 80%;
        margin-top: 80px;
        padding-bottom: 50px;
    }

    #first-content-bg1 {
        width: 65%;
        top: 19%;
        right: -1%;
    }

    #icon-info_1 {
        right: 0%;
        top: 19%;
    }

    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 680px;
    }

    #b-leaf {
        width: 65%;
        opacity: 0.85;
        top: 30px;
        left: 30px;
    }
    
    #waterfall {
        width: 50%;
        top: 400px;
        left: 20%;
        transform: translateX(-20%);
    }
    
    #river {
        width: 50%;
        top: 680px;
        left: 80%;
        transform: translateX(-80%);
    }
    
    #s-leaf {
        width: 35%;
        bottom: 20px;
        right: 50px;
    }

    #s-leaf i {
        right: -120px;
    }

    #second-content-p1 {
        width: 100%;
        z-index: 2;
    }

    #third-content-img div img {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #first-content {
        margin-top: 50px;
        background: none;
        padding-bottom: 0;
        height: auto;
    }

    #first-content-bg1 {
        width: 75%;
        top: 28%;
        right: -10%;
        opacity: 0.7;
    }

    #first-content-bg2 {
        width: 45%;
        top: 62%;
        left: -7%;
        z-index: -1;
        opacity: 0.2;
    }

    #icon-info_1 {
        right: 0%;
        top: 27%;
    }

    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 530px;
    }

    #b-leaf {
        width: 65%;
        opacity: 0.85;
        top: 30px;
        left: 30px;
    }
    
    #waterfall {
        width: 50%;
        top: 400px;
        left: 20%;
        transform: translateX(-20%);
    }
    
    #river {
        width: 50%;
        top: 600px;
        left: 80%;
        transform: translateX(-80%);
    }
    
    #s-leaf {
        bottom: 40px;
        right: 50px;
    }


    #second-content-p1 {
        width: 95%;
        margin: auto;
        z-index: 2;
    } 

    #third-content {
        background-position-y: 70%;
    }
}

@media screen and (max-width: 650px) {
    #second-content {
        background-color: #DCF5C8;
        padding-bottom: 500px;
    }

    #b-leaf {
        width: 65%;
        opacity: 0.85;
        top: 30px;
        left: 30px;
    }
    
    #waterfall {
        width: 50%;
        top: 450px;
        left: 20%;
        transform: translateX(-20%);
    }
    
    #river {
        width: 50%;
        top: 630px;
        left: 80%;
        transform: translateX(-80%);
    }
    
    #s-leaf {
        width: 38%;
        bottom: 45px;
        right: 30px;
    }
}

@media screen and (max-width: 576px) {
    #icon-info_1 {
        right: 20%;
        top: 55%;
    }

    .carousel-caption-middle {
        position: absolute;
        right: 5%;
        top: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateY(-50%);
        left: 5%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    #chineseTemple {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }

    #second-content {
        height: auto;
        padding-bottom: 70px;
    }

    #second-content-p1 {
        width: 90%;
        margin: auto;
        z-index: 2;
    }
    
    #s-leaf {
        bottom: 120px;
        width: 43%;
    }

    #s-leaf i {
        right: -40%;
    }

    #icon-info_2 {
        font-size: 25px;
    }

    #third-content {
        background-position-y: 70%;
    }

    #third-content-img div img {
        width: 50%;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }
}

@media screen and (max-width: 475px) {
    #icon-info_1 {
        right: 10%;
        top: 70%;
    }
}

@media screen and (max-width: 440px) {
    #carousel_1 img{
        content: url(../images/home/home_moutain_500px.jpg);
    }

    #carousel_2 img{
        content: url(../images/home/home_beach_500px.jpg);
    }

    #carousel_3 img{
        content: url(../images/home/home_temple_500px.jpg);
    }

    #s-leaf {
        bottom: 130px;
        width: 43%;
    }
}

@media screen and (min-width: 3800px) {
    #second-content-h1 {
        margin: auto;
    }

    #second-content-p1 {
        width: 100%;
        margin: auto;
    }
}
