:root {
    --bg-gradient-black: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    --bg-btn-green: #519259E5;
    --bg-btn-lightBlue: #66BFBFE5;
    --bg-btn-brown: #CCA035E5;
    --bg-btn-blue: #5899E7E5;
    --bg-toolsTip-orange: #F0BB62F2;
    --bg-toolsTip-lightGreen: #a6dc98f1;
}

.text-justify {
    text-align: justify;
}

h1 {
    font-size: calc(18px + 1.5vw);
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: calc(10px + 1.5vw);
    line-height: 1.2;
}

.image-fill-black {
    filter: brightness(70%);
}

.slidetshow-fixed-heigh {
    min-height: 500px;
}

.slideshow-content-header {
    font-size: 75px;
    font-weight: 600;
}

.slideshow-content-paragraph {
    font-size: calc(1.325rem + .9vw);
}

.btn {
    --bs-btn-padding-x: 2rem !important;
}

.btn-green {
    background-color: var(--bg-btn-green) !important;
}

.btn-lightBlue {
    background-color: var(--bg-btn-lightBlue) !important;
}

.btn-brown {
    background-color: var(--bg-btn-brown) !important;
}

.carousel-caption-middle {
    position: absolute;
    right: 18%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateY(-50%);
    left: 18%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    text-align: center;
}

#first-content {
    width: 80%;
    margin-top: 80px;
    margin-bottom: 300px;
}

#chineseTemple {
    position: relative;
    width: 100%;
}

#first-content-bg1 {
    width: 60%;
    top: 20%;
    right: 0%;
    z-index: -1;
}

#first-content-bg2 {
    width: 40%;
    top: 30%;
    left: 0%;
    z-index: -1;
    opacity: 0.2;
}

#first-content-bg3 {
    width: 50%;
    top: 90%;
    right: 10%;
    z-index: 0;
    opacity: 1;
}

.custom-tooltip .tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.custom-tooltip .tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
}

.custom-tooltip2 .tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-lightGreen);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.custom-tooltip2 .tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-lightGreen);
}

#second-content {
    background-color: #DCF5C8;
    height: 220vh;
}

#second-content-h1{
    z-index: 2;
}

#second-content-p1 {
    width: 50%;
    z-index: 2;
}

#waterfall {
    width: 60%;
    top: 32vw;
    left: 0%;
}

#river {
    width: 60%;
    top: 58vw;
    right: 0;
}

#b-leaf {
    width: 80%;
    top: -20%;
    left: 10%;
}

#s-leaf {
    width: 20%;
    top: 80vw;
    right: -6%;
}
 
#third-content-text {
    width: 60%;  
}

#third-content {
    background-image: url(../images/home/newera.png);
    background-position-x: -10% ;
    background-size: contain;
    background-repeat: no-repeat;
}

#third-content-img {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    #waterfall {
        top: 35vw;
    }
    
    #river {
        top: 55vw;
    }
    
    #b-leaf {
        top: -22%;
    }
    
    #s-leaf {
        top: 82vw;
    }
}

@media screen and (max-width: 1149px) {
    #first-content-bg3 {
        top: 80%;
    }

    #second-content {
        height: 170vh;
    }
}

@media screen and (max-width: 993px) {
    #first-content-bg1 {
        top: 25%;
    }

    #first-content-bg3 {
        display: none;
    }

    #second-content {
        height: 150vh;
    }

    #waterfall {
        top: 50vw;
    }
    
    #river {
        top: 70vw;
    }
    
    #b-leaf {
        top: 10%;
        left: 6%;
    }
    
    #s-leaf {
        top: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .slideshow-content-header {
        font-size: calc(14px + 5.8vw);
    }

    #first-content {
        margin-top: 50px;
        margin-bottom: 200px;
    }

    #first-content-bg1 {
        width: 70%;
        top: 32%;
        right: -5%;
    }

    #first-content-bg2 {
        width: 55%;
        top: 50%;
        left: -10%;
    }

    #second-content-p1 {
        width: 100%;
        z-index: 2;
    }

    #waterfall {
        width: 70%;
        top: 65vw;
        left: 0%;
    }
    
    #river {
        width: 70%;
        top: 90vw;
        right: 0;
    }
    
    #b-leaf {
        width: 100%;
        top: 50%;
        left: 0%;
    }
    
    #s-leaf {
        top: 115vw;
        right: -6%;
    }

    #third-content {
        background-position-y: 70% ;
    }
}

@media screen and (max-width: 576px) {
    .slideshow-content-header {
        font-size: 35px
    }

    .slideshow-content-paragraph {
        font-size: calc(1rem + .9vw);
    }

    .carousel-caption-middle {
        position: absolute;
        right: 5%;
        top: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateY(-50%);
        left: 5%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        color: rgb(255, 255, 255);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    #first-content {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #second-content {
        height: 160vh;
    }
    

    #chineseTemple {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }

    #second-content-p1 {
        width: 100%;
        z-index: 2;
    }

    #waterfall {
        width: 90%;
        top: 65vw;
        margin: auto;
        left: 0;
        right: 0;
    }
    
    #river {
        width:90%;
        top: 130vw;
        margin: auto;
        left: 0;
        right: 0;
    }
    
    #b-leaf {
        width: 100%;
        top: 40%;
        left: -20%;
    }
    
    #s-leaf {
        width: 30%;
        top: 200vw;
        right: 0%;
    }

    #third-content {
        background-position-y: 70% ;
    }
}

@media screen and (max-width: 475px) {
    #waterfall {
        width: 90%;
        top: 95vw;
        margin: auto;
        left: 0;
        right: 0;
    }
    
    #river {
        width:90%;
        top: 160vw;
        margin: auto;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 3800px) {
    .text {
        font-size: 60px;
    }

    #second-content {
        background-color: #DCF5C8;
        height: 80vh;
    }

    #second-content-p1 {
        width: 80%;
    }

    #waterfall {
        width: 60%;
        top: 17vw;
        left: 0%;
    }
    
    #river {
        width: 60%;
        top: 24vw;
        right: -2vw;
    }

    #s-leaf {
        top: 29vw;
        right: -20%;
    }
    
 }
 
@media screen and (min-width: 2500px) {

 }