:root {
    --bg-gradient-black: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    --bg-btn-green: #519259E5;
    --bg-btn-lightBlue: #66BFBFE5;
    --bg-btn-brown: #CCA035E5;
    --bg-btn-blue: #5899E7E5;
    --bg-toolsTip-orange: #F0BB62F2;
    --bg-toolsTip-lightGreen: #a6dc98f1;
}

.text-justify {
    text-align: justify;
}

.image-fill-black {
    filter: brightness(60%);
}

.slidetshow-fixed-heigh {
    min-height: 500px;
}

.carousel-caption-middle {
    position: absolute;
    right: 18%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateY(-50%);
    left: 18%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

#first-content {
    background-image: url(../images/home/Vector_1.png);
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: 75% 69%;
    width: 80%;
    height: 100vh;
    margin-top: 80px;
}

#chineseTemple {
    position: relative;
    width: 100%;
}

.icon-info {
    font-size: 30px;
    --fa-animation-duration: 1s;
    --fa-beat-fade-opacity: 0.7;
    --fa-beat-fade-scale: 1.075;
    z-index: 2;
}

#icon-info_1 {
    color: var(--bg-toolsTip-orange);
    right: 0%;
    top: 5%;
}

#icon-info_2 {
    color: var(--bg-toolsTip-lightGreen);
    right: 7%;
    bottom: -240%;
}


#first-content-bg1 {
    width: 60%;
    top: 9%;
    right: 1%;
    z-index: -1;
}

#first-content-bg2 {
    width: 40%;
    top: 28%;
    left: -7%;
    z-index: -1;
    opacity: 0.2;
}

.custom-tooltip .tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.custom-tooltip .tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-orange);
}

.custom-tooltip2 .tooltip-inner {
    --bs-tooltip-bg: var(--bg-toolsTip-lightGreen);
    color: black !important;
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
}

.custom-tooltip2 .tooltip-arrow {
    --bs-tooltip-bg: var(--bg-toolsTip-lightGreen);
}

#second-content {
    background-color: #DCF5C8;
    height: 220vh;
}

#second-content-h1 {
    z-index: 2;
}

#second-content-p1 {
    width: 50%;
    z-index: 2;
}

#waterfall {
    width: 60%;
    top: 27vw;
    left: 0%;
}

#river {
    width: 60%;
    top: 53vw;
    right: 0;
}

#b-leaf {
    width: 80%;
    top: -20%;
    left: 10%;
}

#s-leaf {
    width: 20%;
    top: 75vw;
    right: -6%;
}

#third-content-text {
    width: 85%;
}

#third-content {
    background-image: url(../images/home/newera.png);
    background-position-x: -10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.row {
    margin-right: 0 !important;
}

#third-content-img {
    margin-top: 50px;
    margin-bottom: 50px;
}


@media screen and (min-width : 2000px) {
    #first-content {
        height: 85vh;
        background: none;
    }
}

@media screen and (min-width : 3600px) {
    #first-content {
        height: 50vh;
    }
}

@media screen and (max-width: 1200px) {
    #first-content {
        background-position: 75% 57%;
    }

    #waterfall {
        top: 35vw;
    }

    #river {
        top: 55vw;
    }

    #b-leaf {
        top: -22%;
    }

    #s-leaf {
        top: 82vw;
    }
}

@media screen and (max-width: 1149px) {
    #first-content-bg3 {
        top: 80%;
    }

    #second-content {
        height: 170vh;
    }
}

@media screen and (max-width: 993px) {
    #first-content {
        background: none;
        height: 75vh;
    }

    #first-content-bg1 {
        width: 65%;
        top: 19%;
        right: -1%;
    }

    #second-content {
        height: 150vh;
    }

    #waterfall {
        top: 50vw;
    }

    #river {
        top: 70vw;
    }

    #b-leaf {
        top: 10%;
        left: 6%;
    }

    #s-leaf {
        top: 90vw;
    }
}

@media screen and (max-width: 768px) {
    #first-content {
        margin-top: 50px;
    }

    #icon-info_1 {
        right: 0%;
        top: 10%;
    }

    #second-content-p1 {
        width: 100%;
        z-index: 2;
    }

    #waterfall {
        width: 70%;
        top: 65vw;
        left: 0%;
    }

    #river {
        width: 70%;
        top: 90vw;
        right: 0;
    }

    #b-leaf {
        width: 100%;
        top: 50%;
        left: 0%;
    }

    #s-leaf {
        top: 115vw;
        right: -6%;
    }

    #third-content {
        background-position-y: 70%;
    }
}

@media screen and (max-width: 576px) {
    #icon-info_1 {
        right: 20%;
        top: 35%;
    }

    .carousel-caption-middle {
        position: absolute;
        right: 5%;
        top: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateY(-50%);
        left: 5%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    #first-content {
        margin-top: 50px;
        height: 100vh;
    }

    #chineseTemple {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }

    #second-content-p1 {
        width: 90%;
        margin: auto;
        z-index: 2;
    }

    #waterfall {
        width: 90%;
        top: 65vw;
        margin: auto;
        left: 0;
        right: 0;
    }

    #river {
        width: 90%;
        top: 130vw;
        margin: auto;
        left: 0;
        right: 0;
    }

    #b-leaf {
        width: 100%;
        top: 40%;
        left: -20%;
    }

    #s-leaf {
        width: 30%;
        top: 200vw;
        right: 0%;
    }

    #third-content {
        background-position-y: 70%;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }
}

@media screen and (max-width: 475px) {
    #first-content {
        height: 93vh;
    }

    #icon-info_1 {
        right: 20%;
        top: 57%;
    }

    #b-leaf {
        display: none;
    }

    #s-leaf {
        top: 210%;
    }

    #waterfall {
        width: 90%;
        top: 135vw;
        margin: auto;
        left: 0;
        right: 0;
    }

    #river {
        width: 90%;
        top: 200vw;
        margin: auto;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 400px) {
    #first-content {
        height: 120vh;
    }

    #second-content {
        height: 180vh;
    }

    #icon-info_1 {
        right: 20%;
        top: 57%;
    }

    #b-leaf {
        display: none;
    }

    #s-leaf {
        display: none;
    }

    #waterfall {
        width: 90%;
        top: 175vw;
        margin: auto;
        left: 0;
        right: 0;
    }

    #river {
        width: 90%;
        top: 240vw;
        margin: auto;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 3800px) {

    #second-content {
        background-color: #DCF5C8;
        height: 80vh;
    }

    #second-content-h1 {
        margin: auto;
    }

    #second-content-p1 {
        width: 90%;
        margin: auto;
    }


    #waterfall {
        width: 60%;
        top: 17vw;
        left: 0%;
    }

    #river {
        width: 60%;
        top: 24vw;
        right: -2vw;
    }

    #s-leaf {
        top: 29vw;
        right: -20%;
    }

}

@media screen and (min-width: 2500px) {}